.Tabs {
  composes: flex from "../Layout.css";
  user-select: none;
}

.tab {
  composes: accessibilityOutline from "../Focus.css";
  composes: borderBox medium from "../Layout.css";
  composes: flex flexColumn itemCenter justifyCenter from "../Layout.css";
  composes: noBorder pill from "../Borders.css";
  composes: m0 from "../Whitespace.css";
  composes: pointer from "../Cursor.css";
  padding: 8px 16px;
  text-decoration: none;
}

.tab:focus {
  position: relative;
}

.tabIsNotActive {
  composes: transparentBg gray from "../Colors.css";
}

.tab:focus,
.tab:hover {
  text-decoration: underline;
}

.tabIsNotActive:focus,
.tabIsNotActive:hover {
  color: #555;
}

.tabIsActive {
  composes: lightGrayBg darkGray from "../Colors.css";
}
