.Markdown p {
  margin-bottom: 0;
  margin-top: 0;
}

.Markdown p + p {
  margin-bottom: 8px;
  margin-top: 8px;
}

.Markdown pre {
  overflow: auto;
  background-color: #EFEFEF;
  border-radius: 4px;
  padding: 8px;
}
