{
  "extends": [
    "airbnb",
    "plugin:eslint-comments/recommended",
    "plugin:flowtype/recommended",
    "plugin:jest/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:react/recommended",
    "prettier",
    "prettier/flowtype",
    "prettier/react"
  ],
  "env": {
    "browser": true,
    "es6": true
  },
  "parser": "babel-eslint",
  "plugins": [
    "eslint-comments",
    "flowtype",
    "jest",
    "jsx-a11y",
    "prettier",
    "react",
    "react-hooks",
    "import"
  ],
  "rules": {
    "jsx-a11y/label-has-for": [
      "error",
      { "components": ["label"], "allowChildren": true }
    ],
    "prettier/prettier": [
      "error",
      { "trailingComma": "es5", "singleQuote": true }
    ],
    "no-await-in-loop": "off",
    "no-return-await": "off",
    "react/destructuring-assignment": "off",
    "react/jsx-filename-extension": "off",
    "react/no-array-index-key": "off",
    "react/require-default-props": "off",
    "import/extensions": [
      "error",
      "always",
      {
        "ignorePackages": true
      }
    ],
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "import/no-relative-parent-imports": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "overrides": [
    {
      "files": ["**/*.test.js", "**/*.integration.js"],
      "env": {
        "jest": true
      },
      "globals": {
        "page": true,
        "browser": true
      }
    },
    {
      "files": ["scripts/danger/*.js"],
      "globals": {
        "danger": true,
        "markdown": true,
        "warn": true
      }
    }
  ]
}
