coverage
docs/.next
docs/docs-components/metadata.js
node_modules
packages/gestalt/dist
packages/gestalt-charts/dist
packages/gestalt-datepicker/dist
packages/eslint-plugin-gestalt/dist
packages/eslint-plugin-gestalt/src/__fixtures__
packages/gestalt-icons-android/dist
packages/gestalt/lib/react-compiler-runtime/index.js
