node_modules/
coverage/
docs/.next/
docs/build/
docs/out/
docs/components/metadata.js
*.log
stats.html
screenshots
.DS_Store

packages/gestalt/dist/*
packages/gestalt-datepicker/dist/*
packages/eslint-plugin-gestalt/dist/*
packages/gestalt-design-tokens/dist

# the flow export file as it's maintained by hand
!packages/gestalt/dist/gestalt.js.flow
!packages/gestalt/dist/gestalt-datepicker.js.flow

playwright/test-results

# Local Netlify folder
.netlify
