node_modules/
coverage/
docs/build/
*.log
stats.html
screenshots
.vscode

packages/gestalt/dist/*
# the flow export file as it's maintained by hand
!packages/gestalt/dist/gestalt.js.flow
!packages/gestalt/dist/index.d.ts
