body {
  margin: 0;
}

pre {
  white-space: pre-wrap !important; /* stylelint-disable-line declaration-no-important */
  word-break: break-word !important; /* stylelint-disable-line declaration-no-important */
}

ul {
  margin: 0;
}

li {
  margin-bottom: 10px;
  margin-top: 10px;
}
