.inputParent {
  isolation: isolate;
  position: relative;
}

.input {
  composes: md mdDefault from "../Text.css";
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
}

.label {
  padding: 0;
  position: absolute;
  z-index: 1;
}

.visuallyHidden {
  position: relative;
}

.enabledText {
  color: var(--sema-color-text-default);
}

.disabledText {
  color: var(--sema-color-text-disabled);
}

.enabled {
  background-color: var(--sema-color-background-default);
}

.enabledBorder {
  border: 1px solid var(--sema-color-border-interactive);
}

.errorBorder {
  border: 1.5px solid var(--sema-color-border-error);
}

.enabledBorder:focus {
  border: 1px solid var(--sema-color-border-focus-inner-default);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}

.errorBorder:focus {
  border: 1.5px solid var(--sema-color-border-focus-inner-default);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}

.enabledBorder:not(:focus):hover {
  border: 1px solid var(--sema-color-hover-border-interactive);
  outline: 0.5px solid var(--sema-color-hover-border-interactive);
}

.errorBorder:not(:focus):hover {
  border: 1.5px solid var(--sema-color-hover-border-error);
}

.startIconLabelWrapper {
  align-items: "center";
  display: "flex";
  height: var(--sema-font-lineheight-body-md);
  position: absolute;
  z-index: 1;
}

.startIconNoLabelWrapper {
  bottom: var(--space-0);
  position: absolute;
  top: var(--space-0);
  z-index: 1;
}

.startIcon {
  align-items: center;
  display: flex;
  height: 100%;
}

.endClearButtonWrapper {
  bottom: var(--space-0);
  position: absolute;
  top: var(--space-0);
}

html:not([dir="rtl"]) .clearButtonWrapper {
  right: var(--space-0);
}

html[dir="rtl"] .clearButtonWrapper {
  left: var(--space-0);
}

/* md */

.md_input {
  border-radius: var(--sema-rounding-300);
  min-height: 40px;
}

.md_label {
  top: calc(var(--sema-space-150) + var(--sema-space-100));
}

.md_startIconLabel {
  top: calc(
    var(--sema-space-150) + var(--sema-space-100) +
      var(--sema-font-lineheight-ui-xs) + var(--sema-space-100)
  );
}

.md_inputLabelPadding {
  padding-bottom: calc(var(--sema-space-150) + var(--sema-space-100));
  padding-top: calc(
    var(--sema-space-150) + var(--sema-space-100) +
      var(--sema-font-lineheight-ui-xs) + var(--sema-space-100)
  );
}

.md_inputNoLabelPadding {
  padding-bottom: var(--sema-space-150);
  padding-top: var(--sema-space-150);
}

html[dir="rtl"] .md_inputHorizontalPadding {
  padding-left: calc(var(--sema-space-300) + var(--sema-space-400));
  padding-right: calc(
    var(--sema-space-300) + var(--sema-space-400) + var(--sema-space-200)
  );
}

html:not([dir="rtl"]) .md_inputHorizontalPadding {
  padding-left: calc(
    var(--sema-space-300) + var(--sema-space-400) + var(--sema-space-200)
  );
  padding-right: calc(var(--sema-space-300) + var(--sema-space-400));
}

html[dir="rtl"] .md_label {
  left: calc(var(--sema-space-300) + var(--sema-space-400));
  right: var(--sema-space-400);
}

html:not([dir="rtl"]) .md_label {
  left: var(--sema-space-300);
  right: calc(var(--sema-space-300) + var(--sema-space-400));
}

html:not([dir="rtl"]) .md_startIcon {
  left: var(--sema-space-300);
}

html[dir="rtl"] .md_startIcon {
  right: var(--sema-space-300);
}

/* lg */

.lg_input {
  border-radius: var(--sema-rounding-400);
  min-height: 48px;
}

.lg_label {
  top: calc(var(--sema-space-300) + var(--sema-space-100));
}

.lg_startIconLabel {
  top: calc(
    var(--sema-space-300) + var(--sema-space-100) +
      var(--sema-font-lineheight-ui-xs) + var(--sema-space-100)
  );
}

.lg_inputLabelPadding {
  padding-bottom: calc(var(--sema-space-300) + var(--sema-space-100));
  padding-top: calc(
    var(--sema-space-300) + var(--sema-space-100) +
      var(--sema-font-lineheight-ui-xs) + var(--sema-space-100)
  );
}

.lg_inputNoLabelPadding {
  padding-bottom: var(--sema-space-300);
  padding-top: var(--sema-space-300);
}

html[dir="rtl"] .lg_inputHorizontalPadding {
  padding-left: calc(var(--sema-space-300) + var(--sema-space-400));
  padding-right: calc(
    var(--sema-space-400) + var(--sema-space-400) + var(--sema-space-200)
  );
}

html:not([dir="rtl"]) .lg_inputHorizontalPadding {
  padding-left: calc(
    var(--sema-space-400) + var(--sema-space-400) + var(--sema-space-200)
  );
  padding-right: calc(var(--sema-space-400) + var(--sema-space-400));
}

html[dir="rtl"] .lg_label {
  left: calc(var(--sema-space-400) + var(--sema-space-400));
  right: var(--sema-space-400);
}

html:not([dir="rtl"]) .lg_label {
  left: var(--sema-space-400);
  right: calc(var(--sema-space-400) + var(--sema-space-400));
}

html:not([dir="rtl"]) .lg_startIcon {
  left: var(--sema-space-400);
}

html[dir="rtl"] .lg_startIcon {
  right: var(--sema-space-400);
}
