.input {
  box-sizing: border-box;
  display: block;
  font-family: var(--sema-font-family-body-md);
  font-size: var(--sema-font-size-body-md);
  font-weight: var(--sema-font-weight-body-md-default);
  letter-spacing: var(--sema-font-letterspacing-body-md);
  line-height: var(--sema-font-lineheight-body-md);
  position: relative;
  text-decoration: var(--sema-font-textdecoration-body-md-default);
  width: 100%;
}

.enabledText {
  color: var(--sema-color-text-default);
}

.disabledText {
  color: var(--sema-color-text-disabled);
}

.enabled {
  background: var(--sema-color-background-default);
}

.disabled {
  background-color: var(--sema-color-background-disabled);
}

.enabledBorder {
  border: 1px solid var(--sema-color-border-interactive);
}

.errorBorder {
  border: 1.5px solid var(--sema-color-border-error);
}

.enabledBorder:focus,
.errorBorder:focus {
  border: 1px solid var(--sema-color-border-focus-inner-default);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}

.enabledBorder:not(:focus):hover {
  border: 1px solid var(--sema-color-hover-border-interactive);
}

.errorBorder:not(:focus):hover {
  border: 1.5px solid var(--sema-color-hover-border-error);
}

.disabledBorder {
  border: 1px solid var(--sema-color-border-disabled);
}

.inputParent {
  isolation: isolate;
  position: relative;
}

.visuallyHidden {
  position: relative;
}

.label {
  padding: 0;
  position: absolute;
  z-index: 1;
}

.clearButtonContainer {
  align-items: center;
  bottom: var(--sema-space-0);
  display: flex;
  height: 100%;
  position: absolute;
  top: var(--sema-space-0);
}

/* md */

.md_input {
  border-radius: var(--sema-rounding-300);
  min-height: 40px;
  padding-bottom: var(--sema-space-200);
}

.md_inputLabelPadding {
  padding-top: calc(
    var(--sema-space-200) + var(--sema-space-50) +
      var(--sema-font-lineheight-ui-xs)
  );
}

.md_inputNoLabelPadding {
  padding-top: var(--sema-space-200);
}

html[dir="rtl"] .md_inputHorizontalPadding {
  padding-left: calc(
    var(--sema-space-200) + var(--sema-space-400) + var(--sema-space-100)
  );
  padding-right: var(--sema-space-300);
}

html:not([dir="rtl"]) .md_inputHorizontalPadding {
  padding-left: var(--sema-space-300);
  padding-right: calc(
    var(--sema-space-200) + var(--sema-space-400) + var(--sema-space-100)
  );
}

.md_label {
  top: calc(var(--sema-space-200) + var(--sema-space-50));
}

html[dir="rtl"] .md_label {
  left: calc(
    var(--sema-space-200) + var(--sema-space-400) + var(--sema-space-100)
  );
  right: var(--sema-space-300);
}

html:not([dir="rtl"]) .md_label {
  left: var(--sema-space-300);
  right: calc(
    var(--sema-space-200) + var(--sema-space-400) + var(--sema-space-100)
  );
}

html:not([dir="rtl"]) .md_clearButtonContainer {
  right: calc(var(--sema-space-200) + var(--sema-space-100));
}

html[dir="rtl"] .md_clearButtonContainer {
  left: calc(var(--sema-space-200) + var(--sema-space-100));
}

/* lg */

.lg_input {
  border-radius: var(--sema-rounding-400);
  min-height: 48px;
  padding-bottom: var(--sema-space-300);
}

.lg_inputLabelPadding {
  padding-top: calc(
    var(--sema-space-300) + var(--sema-space-100) +
      var(--sema-font-lineheight-ui-xs) + var(--sema-space-100)
  );
}

.lg_inputNoLabelPadding {
  padding-top: var(--sema-space-300);
}

html[dir="rtl"] .lg_inputHorizontalPadding {
  padding-left: calc(
    var(--sema-space-300) + var(--sema-space-400) + var(--sema-space-100)
  );
  padding-right: var(--sema-space-400);
}

html:not([dir="rtl"]) .lg_inputHorizontalPadding {
  padding-left: var(--sema-space-400);
  padding-right: calc(
    var(--sema-space-300) + var(--sema-space-400) + var(--sema-space-100)
  );
}

.lg_label {
  top: calc(var(--sema-space-300) + var(--sema-space-100));
}

html[dir="rtl"] .lg_label {
  left: var(--sema-space-300) + var(--sema-space-400) + var(--sema-space-100);
  right: var(--sema-space-400);
}

html:not([dir="rtl"]) .lg_label {
  left: var(--sema-space-400);
  right: calc(
    var(--sema-space-300) + var(--sema-space-400) + var(--sema-space-100)
  );
}

html:not([dir="rtl"]) .lg_clearButtonContainer {
  right: calc(var(--sema-space-300) + var(--sema-space-100));
}

html[dir="rtl"] .lg_clearButtonContainer {
  left: calc(var(--sema-space-300) + var(--sema-space-100));
}
