.input {
  composes: md mdDefault from "../Text.css";
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  display: block;
  outline: 0;
  padding: 0;
  resize: none;
  width: 100%;
}

.inputParent {
  border-radius: var(--sema-rounding-300);
  box-sizing: border-box;
  display: block;
  isolation: isolate;
  position: relative;
  width: 100%;
}

.enabledText {
  color: var(--sema-color-text-default);
}

.disabledText {
  color: var(--sema-color-text-disabled);
}

.borderFocus {
  border: 1px solid var(--sema-color-border-focus-inner-default);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}

.enabled {
  background: var(--sema-color-background-default);
}

.enabledBorder {
  border: 1px solid var(--sema-color-border-interactive);
}

.enabledBorderHover {
  border: 1px solid var(--sema-color-hover-border-interactive);
}

.errorBorder {
  border: 1.5px solid var(--sema-color-border-error);
}

.errorBorderHover {
  border: 1.5px solid var(--sema-color-hover-border-error);
}

.errorBorderFocus {
  border: 1.5px solid var(--sema-color-border-focus-inner-default);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}

.disabled {
  background-color: var(--sema-color-background-disabled);
  border: 1px solid var(--sema-color-border-disabled);
}

.label {
  color: inherit;
  padding: 0;
  position: absolute;
  z-index: 1;
}

.md_input {
  min-height: 36px;
  padding-bottom: var(--sema-space-200);
}

.md_visibleLabel {
  padding-top: calc(
    var(--sema-space-300) + (var(--sema-font-size-ui-md) * 1.1)
  );
}

.md_noLabel {
  padding-top: var(--sema-space-200);
}

html[dir="rtl"] .md_inputHorizontalPadding {
  padding-left: var(--sema-space-200);
  padding-right: var(--sema-space-300);
}

html:not([dir="rtl"]) .md_inputHorizontalPadding {
  padding-left: var(--sema-space-300);
  padding-right: var(--sema-space-200);
}

html[dir="rtl"] .md_label {
  left: calc(var(--sema-space-300));
  right: calc(var(--sema-space-300) + 1px);
}

html:not([dir="rtl"]) .md_label {
  left: calc(var(--sema-space-300) + 1px);
  right: calc(var(--sema-space-300));
}

.md_labelPos {
  top: var(--sema-space-200);
}
