.input {
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  display: block;
  font-weight: var(--sema-font-weight-body);
  line-height: 16px;
  outline: 0;
  padding: 0;
  resize: none;
  width: 100%;
}

.inputParent {
  border-radius: var(--sema-rounding-md);
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
}

.enabledText {
  color: var(--sema-color-text-default);
}

.disabledText {
  color: var(--sema-color-text-disabled);
}

.enabled {
  background: var(--sema-color-background-default);
}

.disabled {
  background-color: var(--sema-color-background-disabled);
}

.enabledBorder {
  border: 1px solid var(--sema-color-border-interactive);
}

.errorBorder {
  border: 1.5px solid var(--sema-color-border-error);
}

.enabledBorderFocus {
  border: 1px solid var(--sema-color-border-focus-inner-default);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}

.enabledBorderHover {
  border: 1px solid var(--sema-color-hover-border-interactive);
}

.errorBorderHover {
  border: 1.5px solid var(--sema-color-hover-border-error);
}

.disabledBorder {
  border: 1px solid var(--sema-color-border-disabled);
}

.visuallyHidden {
  position: relative;
}

.label {
  font-size: var(--sema-font-size-ui-xs);
  font-weight: var(--sema-font-weight-ui);
  line-height: var(--sema-font-lineheight-UI-XS);
  padding: 0;
  position: absolute;
  z-index: 1;
}

/* sm */

.sm_input {
  font-size: var(--sema-font-size-ui-sm);
  min-height: 28px;
  padding-bottom: var(--sema-space-gap-vertical-sm);
}

.sm_visibleLabel {
  padding-top: calc(
    var(--sema-space-gap-vertical-sm) + (var(--sema-font-size-ui-sm) * 1.1)
  );
}

.sm_noLabel {
  padding-top: var(--sema-space-gap-vertical-sm);
}

html[dir="rtl"] .sm_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-sm);
  padding-right: var(--sema-space-padding-horizontal-lg);
}

html:not([dir="rtl"]) .sm_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-lg);
  padding-right: var(--sema-space-padding-horizontal-sm);
}

html[dir="rtl"] .sm_label {
  left: calc(var(--sema-space-padding-horizontal-lg));
  right: calc(var(--sema-space-padding-horizontal-lg) + 1px);
}

html:not([dir="rtl"]) .sm_label {
  left: calc(var(--sema-space-padding-horizontal-lg) + 1px);
  right: calc(var(--sema-space-padding-horizontal-lg));
}

.sm_labelPos {
  top: var(--sema-space-gap-vertical-sm);
}

/* md */

.md_input {
  font-size: var(--sema-font-size-ui-md);
  min-height: 36px;
  padding-bottom: var(--sema-space-gap-vertical-lg);
}

.md_visibleLabel {
  padding-top: calc(
    var(--sema-space-padding-horizontal-xl) +
      (var(--sema-font-size-ui-md) * 1.1)
  );
}

.md_noLabel {
  padding-top: var(--sema-space-gap-vertical-lg);
}

html[dir="rtl"] .md_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-lg);
  padding-right: var(--sema-space-padding-horizontal-xl);
}

html:not([dir="rtl"]) .md_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-xl);
  padding-right: var(--sema-space-padding-horizontal-lg);
}

html[dir="rtl"] .md_label {
  left: calc(var(--sema-space-padding-horizontal-xl));
  right: calc(var(--sema-space-padding-horizontal-xl) + 1px);
}

html:not([dir="rtl"]) .md_label {
  left: calc(var(--sema-space-padding-horizontal-xl) + 1px);
  right: calc(var(--sema-space-padding-horizontal-xl));
}

.md_labelPos {
  top: var(--sema-space-gap-vertical-lg);
}

/* lg */

.lg_input {
  font-size: var(--sema-font-size-ui-md);
  min-height: 48px;
  padding-bottom: var(--sema-space-gap-vertical-xl);
}

.lg_visibleLabel {
  padding-top: calc(
    var(--sema-space-gap-vertical-xxl) + (var(--sema-font-size-ui-md) * 1.1)
  );
}

.lg_noLabel {
  padding-top: var(--sema-space-gap-vertical-xl);
}

html[dir="rtl"] .lg_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-xl);
  padding-right: var(--sema-space-padding-horizontal-xxl);
}

html:not([dir="rtl"]) .lg_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-xxl);
  padding-right: var(--sema-space-padding-horizontal-xl);
}

html[dir="rtl"] .lg_label {
  left: calc(var(--sema-space-padding-horizontal-xxl));
  right: calc(var(--sema-space-padding-horizontal-xxl) + 1px);
}

html:not([dir="rtl"]) .lg_label {
  left: calc(var(--sema-space-padding-horizontal-xxl) + 1px);
  right: calc(var(--sema-space-padding-horizontal-xxl));
}

.lg_labelPos {
  top: var(--sema-space-gap-vertical-xl);
}
