.overlay {
  height: 100%;

  /* Parent element
    Must be position=relative
    No z-index allowed
  */
  position: relative;
  width: 100%;
}

.overlay::after {
  /* Dark overlay is achieved overposing a pseudo-element with a 6% darker wash */
  background: var(--color-background-avatar-wash);
  border-radius: 50%;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  /* z-index required to position pseudo-elements in front of the parent */
  z-index: 1;
}

.translateX10 {
  transform: translateX(-10%);
}

html[dir="rtl"] .translateX10 {
  transform: translateX(10%);
}
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
>>>>>>> 50df2c38e (fixed prop naming)

.text {
  color: var(--color-icon-avatar-default);
}

<<<<<<< HEAD
<<<<<<< HEAD
.focused {
=======
=======
>>>>>>> b08ccdd67 (cleanup)
.groupFocused {
>>>>>>> 50df2c38e (fixed prop naming)
  border: 2px solid var(--sema-color-border-focus-inner-default);
  border-radius: var(--sema-rounding-pill);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}
<<<<<<< HEAD
=======

.singleFocused {
  border: 2px solid var(--sema-color-border-focus-inner-default);
  border-radius: var(--sema-rounding-circle);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}
<<<<<<< HEAD
>>>>>>> b81f81405 (fixed prop naming)
<<<<<<< HEAD
>>>>>>> 50df2c38e (fixed prop naming)
=======
=======

=======
>>>>>>> 8e95c0684 (cleanup)
.focused {
  border: 2px solid var(--sema-color-border-focus-inner-default);
  border-radius: var(--sema-rounding-pill);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}
>>>>>>> cff195f61 (fixed pressed state)
>>>>>>> 51f88bc1b (fixed pressed state)
