@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.9;
  }
}

@keyframes fade-out {
  0% {
    opacity: 0.9;
  }

  100% {
    opacity: 0;
  }
}

.backdrop {
  composes: absolute left0 top0 right0 bottom0 overflowScrollY from "./Layout.css";
  background: var(--g-colorTransparentGray800);
  height: 100%;
}

.backdropAnimationIn {
  animation: fade-in 400ms linear;
}

.backdropAnimationOut {
  animation: fade-out 400ms linear;
}

.zoomOut {
  composes: zoomOut from "./Cursor.css";
}
