.Badge {
  composes: antialiased sansSerif from "./Typography.css";
  composes: inlineBlock from "./Layout.css";
  composes: rounding1 from "./Borders.css";
  composes: fontWeightSemiBold from "./Typography.css";
  color: var(--color-text-inverse);
  font-size: 14px;
  height: 20px;
  padding: 2px 6px;
  white-space: nowrap;
}

.middle {
  vertical-align: middle;
}

.top {
  vertical-align: super;
}

/* Color */

.info,
.interactive-info {
  background-color: var(--color-background-badge-info-default);
}

.interactive-info:hover,
.interactive-info:focus {
  background-color: var(--color-background-badge-info-hover);
}

.error,
.interactive-error {
  background-color: var(--color-background-badge-error);
}

.warning,
.interactive-warning {
  background-color: var(--color-background-badge-warning);
}

.success,
.interactive-success {
  background-color: var(--color-background-badge-success);
}

.recommendation,
.interactive-recommendation {
  background-color: var(--color-background-badge-recommendation);
}

.neutral ,
.interactive-neutral {
  background-color: var(--color-background-badge-neutral);
}

.darkWash,
.interactive-darkWash {
  background-color: var(--color-background-badge-darkwash);
  color: var(--color-text-light);
}

.lightWash,
.interactive-lightWash {
  background-color: var(--color-background-badge-lightwash);
  color: var(--color-text-dark);
}
