.Badge {
  composes: antialiased sansSerif from "./Typography.css";
  composes: inlineBlock from "./Layout.css";
  composes: rounding1 from "./Borders.css";
  composes: fontWeightBold from './Typography.css';
  color: var(--color-text-inverse);
  font-size: 10px;
  height: min-content;
  margin-top: -4px;
  padding: 2px 4px;
  white-space: nowrap;
}

.BadgeSemiBold {
  composes: antialiased sansSerif from "./Typography.css";
  composes: inlineBlock from "./Layout.css";
  composes: rounding1 from "./Borders.css";
  composes: fontWeightSemiBold from './Typography.css';
  color: var(--color-text-inverse);
  font-size: 10px;
  height: min-content;
  margin-top: -4px;
  padding: 2px 4px;
  white-space: nowrap;
}


.middle {
  vertical-align: middle;
}

.top {
  vertical-align: super;
}

.darkWash {
  color: var(--color-text-light);
}

.lightWash {
  color: var(--color-text-dark);
}
