.Badge {
  composes: antialiased sansSerif from "./Typography.css";
  composes: inlineBlock from "./Layout.css";
  composes: rounding1 from "./Borders.css";
  composes: fontWeightBold from './Typography.css';
  composes: white from './Colors.css';
  font-size: 10px;
  margin-top: -4px;
  padding: 2px;
  white-space: nowrap;
}

.middle {
  vertical-align: middle;
}

.top {
  vertical-align: super;
}
