.textColorOverrideLight * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-dark) !important;
}

.textColorOverrideDark * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-light) !important;
}

.parentButton {
  composes: noBorder from "./Borders.css";
  composes: p0 from "./Whitespace.css";
  composes: paddingX0 from "./boxWhitespace.css";
  composes: paddingY0 from "./boxWhitespace.css";
  background-color: var(--color-transparent);
  text-wrap: nowrap;
}
