:root {
  --gestalt-border-width: 1px;
  --gestalt-border-width-lg: 2px;
  --gestalt-boint: 4px;

  /* primary colors */
  --gestalt-colorRed100: #e60023;
  --gestalt-colorGray100: #efefef;
  --gestalt-colorGray200: #767676;
  --gestalt-colorGray300: #111;

  /* remanent lightGray colors */
  --gestalt-border-color-lightGray: #ddd;
  --gestalt-border-color-lightGrayHovered: #d0d0d0;
}


/* Border lines */

.border {
  border: var(--gestalt-border-width) solid var(--gestalt-border-color-lightGray);
}

.borderColorGray {
  border-color: var(--gestalt-colorGray200);
}

.borderColorDarkGray {
  border-color: var(--gestalt-colorGray300);
}

.borderColorLightGray {
  border-color: var(--gestalt-colorGray100);
}

.borderColorRed {
  border-color: var(--gestalt-colorRed100);
}

.borderColorLightGrayHovered {
  border-color: var(--gestalt-border-color-lightGrayHovered);
}

.borderColorLightGrayDisabled {
  border-color: var(--gestalt-colorGray100);
}

.borderTop {
  border-top: var(--gestalt-border-width) solid var(--gestalt-border-color-lightGray);
}

html:not([dir="rtl"]) .borderRight {
  border-right: var(--gestalt-border-width) solid var(--gestalt-border-color-lightGray);
}

html[dir="rtl"] .borderRight {
  border-left: var(--gestalt-border-width) solid var(--gestalt-border-color-lightGray);
}

.borderBottom {
  border-bottom: var(--gestalt-border-width) solid var(--gestalt-border-color-lightGray);
}

html:not([dir="rtl"]) .borderLeft {
  border-left: var(--gestalt-border-width) solid var(--gestalt-border-color-lightGray);
}

html[dir="rtl"] .borderLeft {
  border-right: var(--gestalt-border-width) solid var(--gestalt-border-color-lightGray);
}

/* Border radius */

.circle {
  border-radius: 50%;
}

.pill {
  border-radius: 999px;
}

.rounding0 {
  border-radius: calc(var(--gestalt-boint) * 0);
}

.rounding1 {
  border-radius: calc(var(--gestalt-boint) * 1);
}

.rounding2 {
  border-radius: calc(var(--gestalt-boint) * 2);
}

.rounding3 {
  border-radius: calc(var(--gestalt-boint) * 3);
}

.rounding4 {
  border-radius: calc(var(--gestalt-boint) * 4);
}

.rounding5 {
  border-radius: calc(var(--gestalt-boint) * 5);
}

.rounding6 {
  border-radius: calc(var(--gestalt-boint) * 6);
}

.rounding7 {
  border-radius: calc(var(--gestalt-boint) * 7);
}

.rounding8 {
  border-radius: calc(var(--gestalt-boint) * 8);
}

.noBorder {
  border: 0;
}

.sizeSm {
  border-width: var(--gestalt-border-width);
}

.sizeLg {
  border-width: var(--gestalt-border-width-lg);
}

.solid {
  border-style: solid;
}
