:root {
  --border-width: 1px;
  --border-width-lg: 2px;
  --border-color: #ddd;
  --bt: 4px;
}

/* Border lines */

.border {
  border: var(--border-width) solid var(--border-color);
}

.borderTop {
  border-top: var(--border-width) solid var(--border-color);
}

html:not([dir="rtl"]) .borderRight {
  border-right: var(--border-width) solid var(--border-color);
}

html[dir="rtl"] .borderRight {
  border-left: var(--border-width) solid var(--border-color);
}

.borderBottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

html:not([dir="rtl"]) .borderLeft {
  border-left: var(--border-width) solid var(--border-color);
}

html[dir="rtl"] .borderLeft {
  border-right: var(--border-width) solid var(--border-color);
}

/* Border radii */

.circle {
  border-radius: 50%;
}

.pill {
  border-radius: 999px;
}

.rounding0 {
  border-radius: calc(var(--bt) * 0);
}

.rounding1 {
  border-radius: calc(var(--bt) * 1);
}

.rounding2 {
  border-radius: calc(var(--bt) * 2);
}

.rounding3 {
  border-radius: calc(var(--bt) * 3);
}

.rounding4 {
  border-radius: calc(var(--bt) * 4);
}

.rounding5 {
  border-radius: calc(var(--bt) * 5);
}

.rounding6 {
  border-radius: calc(var(--bt) * 6);
}

.rounding7 {
  border-radius: calc(var(--bt) * 7);
}

.rounding8 {
  border-radius: calc(var(--bt) * 8);
}

.noBorder {
  border: 0;
}

.sizeSm {
  border-width: var(--border-width);
}

.sizeLg {
  border-width: var(--border-width-lg);
}

.solid {
  border-style: solid;
}
