:root {
  --border-width: 1px;
  --border-width-lg: 2px;
  --border-color-gray: #767676;
  --border-color-darkGray: #111;
  --border-color-lightGray: #ddd;
  --border-color-lightGrayDisabled: #efefef;
  --border-color-red: #e60023;
  --border-color-lightGrayHovered: #d0d0d0;
  --bt: 4px;
}

/* Border lines */

.border {
  border: var(--border-width) solid var(--border-color-lightGray);
}

.borderColorGray {
  border-color: var(--border-color-gray);
}

.borderColorDarkGray {
  border-color: var(--border-color-darkGray);
}

.borderColorLightGray {
  border-color: var(--border-color-lightGray);
}

.borderColorRed {
  border-color: var(--border-color-red);
}

.borderColorLightGrayHovered {
  border-color: var(--border-color-lightGrayHovered);
}

.borderColorLightGrayDisabled {
  border-color: var(--border-color-lightGrayDisabled);
}

.borderTop {
  border-top: var(--border-width) solid var(--border-color-lightGray);
}

html:not([dir="rtl"]) .borderRight {
  border-right: var(--border-width) solid var(--border-color-lightGray);
}

html[dir="rtl"] .borderRight {
  border-left: var(--border-width) solid var(--border-color-lightGray);
}

.borderBottom {
  border-bottom: var(--border-width) solid var(--border-color-lightGray);
}

html:not([dir="rtl"]) .borderLeft {
  border-left: var(--border-width) solid var(--border-color-lightGray);
}

html[dir="rtl"] .borderLeft {
  border-right: var(--border-width) solid var(--border-color-lightGray);
}

/* Border radius */

.circle {
  border-radius: 50%;
}

.pill {
  border-radius: 999px;
}

.rounding0 {
  border-radius: calc(var(--bt) * 0);
}

.rounding1 {
  border-radius: calc(var(--bt) * 1);
}

.rounding2 {
  border-radius: calc(var(--bt) * 2);
}

.rounding3 {
  border-radius: calc(var(--bt) * 3);
}

.rounding4 {
  border-radius: calc(var(--bt) * 4);
}

.rounding5 {
  border-radius: calc(var(--bt) * 5);
}

.rounding6 {
  border-radius: calc(var(--bt) * 6);
}

.rounding7 {
  border-radius: calc(var(--bt) * 7);
}

.rounding8 {
  border-radius: calc(var(--bt) * 8);
}

.noBorder {
  border: 0;
}

.sizeSm {
  border-width: var(--border-width);
}

.sizeLg {
  border-width: var(--border-width-lg);
}

.solid {
  border-style: solid;
}
