:root {
  --border-width: 1px;
  --border-color: #efefef;
}

/* Border lines */

.border {
  border: var(--border-width) solid var(--border-color);
}

.borderTop {
  border-top: var(--border-width) solid var(--border-color);
}

html:not([dir="rtl"]) .borderRight {
  border-right: var(--border-width) solid var(--border-color);
}

html[dir="rtl"] .borderRight {
  border-left: var(--border-width) solid var(--border-color);
}

.borderBottom {
  border-bottom: var(--border-width) solid var(--border-color);
}

html:not([dir="rtl"]) .borderLeft {
  border-left: var(--border-width) solid var(--border-color);
}

html[dir="rtl"] .borderLeft {
  border-right: var(--border-width) solid var(--border-color);
}

/* Border radii */

.circle {
  border-radius: 50%;
}

.pill {
  border-radius: 999px;
}

.rounding0 {
  border-radius: 0;
}

.rounding1 {
  border-radius: 4px;
}

.rounding2 {
  border-radius: 8px;
}

.rounding3 {
  border-radius: 12px;
}

.rounding4 {
  border-radius: 16px;
}

.rounding5 {
  border-radius: 20px;
}

.rounding6 {
  border-radius: 24px;
}

.rounding7 {
  border-radius: 28px;
}

.rounding8 {
  border-radius: 32px;
}

.noBorder {
  border: 0;
}
