:root {
  --g-border-width: 1px;
  --g-border-width-lg: 2px;
}

/* Border lines */

.border {
  border: var(--g-border-width) solid var(--color-border-container);
}

.transparentBorder {
  border-color: transparent;
}

.borderColorSelected {
  border-color: var(--color-background-selected-base);
}

.borderColorDarkGray {
  border-color: var(--color-border-default);
}

.borderColorLightGray {
  border-color: var(--color-border-container);
}

.borderColorRed {
  border-color: var(--color-border-error);
}

.borderColorLightGrayHovered {
  border-color: var(--color-gray-roboflow-400);
}

.borderColorLightGrayDisabled {
  border-color: var(--g-colorGray100);
}

.borderTop {
  border-top: var(--g-border-width) solid var(--color-border-container);
}

html:not([dir="rtl"]) .borderRight {
  border-right: var(--g-border-width) solid var(--color-border-container);
}

html[dir="rtl"] .borderRight {
  border-left: var(--g-border-width) solid var(--color-border-container);
}

.borderBottom {
  border-bottom: var(--g-border-width) solid var(--color-border-container);
}

html:not([dir="rtl"]) .borderLeft {
  border-left: var(--g-border-width) solid var(--color-border-container);
}

html[dir="rtl"] .borderLeft {
  border-right: var(--g-border-width) solid var(--color-border-container);
}

/* Border radius */

.circle {
  border-radius: 50%;
}

.pill {
  border-radius: 999px;
}

.rounding0 {
  border-radius: 0;
}

.rounding1 {
  border-radius: 4px;
}

.rounding2 {
  border-radius: 8px;
}

.rounding3 {
  border-radius: 12px;
}

.rounding4 {
  border-radius: 16px;
}

.rounding5 {
  border-radius: 20px;
}

.rounding6 {
  border-radius: 24px;
}

.rounding7 {
  border-radius: 28px;
}

.rounding8 {
  border-radius: 32px;
}

.noBorder {
  border: 0;
}

.sizeSm {
  border-width: var(--g-border-width);
}

.sizeLg {
  border-width: var(--g-border-width-lg);
}

.solid {
  border-style: solid;
}

.shadow {
  box-shadow: var(--elevation-floating);
}

.raisedTop {
  box-shadow: var(--elevation-raised-top);
}

.raisedBottom {
  box-shadow: var(--elevation-raised-bottom);
}
