:root {
  --gestalt-colorGray50: #fff;
  --gestalt-colorGray100: #efefef;
}

.button {
  composes: borderBox minWidth60 from "./Layout.css";
  border-radius: 24px;
}

.solid {
  composes: noBorder from "./Borders.css";
}

.sm {
  composes: small from "./Layout.css";
  composes: paddingX3 from "./boxWhitespace.css";
  composes: paddingY1 from "./boxWhitespace.css";
}

.md {
  composes: medium from "./Layout.css";
  composes: paddingX3 from "./boxWhitespace.css";
  composes: paddingY2 from "./boxWhitespace.css";
}

.lg {
  composes: large from "./Layout.css";
  composes: paddingX4 from "./boxWhitespace.css";
  composes: paddingY3 from "./boxWhitespace.css";
}

.block {
  composes: xsCol12 from "./Column.css";
  composes: block from "./Layout.css";
}

.inline {
  composes: inlineBlock from "./Layout.css";
}

.enabled {
  composes: accessibilityOutline from "./Focus.css";
  composes: pointer from "./Cursor.css";
}

.disabled {
  composes: lightGrayBg from "./Colors.css";
  cursor: default;
  pointer-events: none;
}

.selected {
  composes: darkGrayBg from "./Colors.css";
}

.gray {
  composes: lightGrayBg from "./Colors.css";
}

.gray:hover,
.gray:focus {
  background-color: #e2e2e2;
}

.gray:active {
  background-color: #dadada;
}

.darkModeGray {
  background-color: var(--gestalt-colorGray50);
}

.darkModeGray:hover,
.darkModeGray:focus{
  background-color: var(--gestalt-colorGray100);

}

.darkModeGray:active {
  filter: brightness(150%);
}

.red {
  composes: redBg from "./Colors.css";
}

.darkModeRed {
  composes: red0Bg from "./Colors.css";
}

.red:hover,
.red:focus,
.darkModeRed:hover,
.darkModeRed:focus {
  background-color: #ad081b;
}

.red:active,
.darkModeRed:active {
  background-color: #a3081a;
}

.blue {
  composes: blueBg from "./Colors.css";
}

.blue:hover,
.blue:focus {
  background-color: #4a8ad4;
}

.blue:active {
  background-color: #4a85c9;
}

.transparent {
  composes: transparentBg from "./Colors.css";
  border: 1px solid #fff;
}

.transparent:hover,
.transparent:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.transparent:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.white {
  composes: whiteBg from "./Colors.css";
}

.white:hover,
.white:focus {
  background-color: #f0f0f0;
}

.white:active {
  background-color: #e0e0e0;
}
