:root {
  --gestalt-colorGray0Hovered: #f0f0f0;
  --gestalt-colorGray0Active: hsl(0, 0%, 88%);
  --gestalt-colorGray100: #efefef;
  --gestalt-colorGray100Hovered: #e2e2e2;
  --gestalt-colorGray100Active: #dadada;
  --gestalt-colorRed100Hovered: #ad081b;
  --gestalt-colorRed100Active: #a3081a;
  --gestalt-blueHovered: #4a8ad4;
  --gestalt-blueActive: #4a85c9;
  --gestalt-colorTransparentGray60: rgba(0, 0, 0, 0.06);
  --gestalt-colorTransparentGray100: rgba(0, 0, 0, 0.1);
}

.button {
  composes: borderBox minWidth60 from "./Layout.css";
  composes: noBorder from "./Borders.css";
  border-radius: 24px;
  outline: 0;
}

.sm {
  composes: small from "./Layout.css";
  composes: paddingX3 from "./boxWhitespace.css";
  composes: paddingY1 from "./boxWhitespace.css";
}

.md {
  composes: medium from "./Layout.css";
  composes: paddingX3 from "./boxWhitespace.css";
  composes: paddingY2 from "./boxWhitespace.css";
}

.lg {
  composes: large from "./Layout.css";
  composes: paddingX4 from "./boxWhitespace.css";
  composes: paddingY3 from "./boxWhitespace.css";
}

.block {
  composes: xsCol12 from "./Column.css";
  composes: block from "./Layout.css";
}

.inline {
  composes: inlineBlock from "./Layout.css";
}

.enabled {
  composes: pointer from "./Cursor.css";
}

.disabled {
  composes: lightGrayBg from "./Colors.css";
  cursor: default;
  pointer-events: none;
}

.selected {
  composes: darkGrayBg from "./Colors.css";
}

.gray {
  composes: lightGrayBg from "./Colors.css";
}

.gray:hover,
.gray:focus {
  background-color: var(--gestalt-colorGray100Hovered);
}

.gray:active {
  background-color: var(--gestalt-colorGray100Active);
}

.red {
  composes: redBg from "./Colors.css";
}

.darkModeRed {
  composes: red0Bg from "./Colors.css";
}

.red:hover,
.red:focus,
.darkModeRed:hover,
.darkModeRed:focus {
  background-color: var(--gestalt-colorRed100Hovered);
}

.red:active,
.darkModeRed:active {
  background-color: var(--gestalt-colorRed100Active);
}

.blue {
  composes: blueBg from "./Colors.css";
}

.blue:hover,
.blue:focus {
  background-color: var(--gestalt-blueHovered);
}

.blue:active {
  background-color: var(--gestalt-blueActive);
}

.transparent {
  composes: transparentBg from "./Colors.css";
}

.transparent:hover,
.transparent:focus {
  background-color: var(--gestalt-colorTransparentGray60);
}

.transparent:active {
  background-color: var(--gestalt-colorTransparentGray100);
}

.white {
  composes: whiteBg from "./Colors.css";
}

.white:hover,
.white:focus {
  background-color: var(--gestalt-colorGray0Hovered);
}

.white:active {
  background-color: var(--gestalt-colorGray0Active);
}
