:root {
  --blue: #0074e8;
  --darkGray: #111;
  --red: #e60023;
  --lightGray: #efefef;
  --white: #fff;
}

.button {
  composes: borderBox from "./Layout.css";
  composes: rounded from "./Borders.css";
}

.solid {
  composes: noBorder from "./Borders.css";
}

.enabled {
  composes: accessibilityOutline from "./Focus.css";
  composes: pointer from "./Cursor.css";
}

.sm {
  composes: small from "./Layout.css";
  padding: 8px 14px;
}

.md {
  composes: medium from "./Layout.css";
  padding: 10px 14px;
}

.lg {
  composes: large from "./Layout.css";
  padding: 12px 14px;
}

.block {
  composes: xsCol12 from "./Column.css";
  composes: block from "./Layout.css";
}

.inline {
  composes: inlineBlock from "./Layout.css";
}

.disabled {
  composes: lightGrayBg from "./Colors.css";
  cursor: default;
}

.gray {
  composes: lightGrayBg from "./Colors.css";
}

.gray:hover,
.gray:focus {
  background-color: #e2e2e2;
}

.gray:active {
  background-color: #dadada;
}

.red {
  composes: redBg from "./Colors.css";
}

.red:hover,
.red:focus {
  background-color: #ad081b;
}

.red:active {
  background-color: #a3081a;
}

.blue {
  composes: blueBg from "./Colors.css";
}

.blue:hover,
.blue:focus {
  background-color: #4a8ad4;
}

.blue:active {
  background-color: #4a85c9;
}

.transparent {
  composes: transparentBg from "./Colors.css";
  border: 1px solid #fff;
}

.transparent:hover,
.transparent:focus {
  background-color: rgba(0, 0, 0, 0.06);
}

.transparent:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.white {
  composes: whiteBg from "./Colors.css";
}

.white:hover,
.white:focus {
  background-color: #f1f1f1;
}

.white:active {
  background-color: #e8e8e8;
}
