.button {
  composes: borderBox minWidth60 from "./Layout.css";
  composes: noBorder from "./Borders.css";
  border-radius: var(--rounding-600);
}

.parentButton {
  composes: paddingX0 from "./boxWhitespace.css";
  composes: paddingY0 from "./boxWhitespace.css";
  background-color: var(--color-transparent);
}

.childrenDiv {
  composes: flex from "./Layout.css";
  composes: xsItemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";
  composes: fullWidth from "./TapArea.css";
}

.sm {
  composes: small from "./Layout.css";
  composes: paddingX3 from "./boxWhitespace.css";
  composes: paddingY1 from "./boxWhitespace.css";
}

.md {
  composes: medium from "./Layout.css";
  composes: paddingX3 from "./boxWhitespace.css";
  composes: paddingY2 from "./boxWhitespace.css";
}

.lg {
  composes: large from "./Layout.css";
  composes: paddingX4 from "./boxWhitespace.css";
  composes: paddingY3 from "./boxWhitespace.css";
}

.block {
  composes: xsCol12 from "./Column.css";
  composes: block from "./Layout.css";
}

.inline {
  composes: inlineBlock from "./Layout.css";
}

.enabled {
  composes: pointer from "./Cursor.css";
}

/* TOKENIZED */

/* STATES */

.disabled {
  background-color: var(--button-color-disabled-default);
  cursor: default;
  pointer-events: none;
}

.selected {
  background-color: var(--button-color-selected-default);
}

/* COLORS */

.red {
  background-color: var(--button-color-primary-default);
}

.red:hover {
  background-color: var(--button-color-primary-hover);
}

.red:active {
  background-color: var(--button-color-primary-active);
}

.gray {
  background-color: var(--button-color-secondary-default);
}

.gray:hover {
  background-color: var(--button-color-secondary-hover);
}

.gray:active {
  background-color: var(--button-color-secondary-active);
}

.transparent {
  background-color: var(--button-color-tertiary-default);
}

.transparent:hover {
  background-color: var(--button-color-tertiary-hover);
}

.transparent:active {
  background-color: var(--button-color-tertiary-active);
}

.blue {
  background-color: var(--button-color-shopping-default);
}

.blue:hover {
  background-color: var(--button-color-shopping-hover);
}

.blue:active {
  background-color: var(--button-color-shopping-active);
}

/* COLORS ON BACKGROUND */

.semiTransparentWhite {
  background-color: var(--button-color-semitransparentwhite-default);
}

.semiTransparentWhite:hover {
  background-color: var(--button-color-semitransparentwhite-hover);
}

.semiTransparentWhite:active {
  background-color: var(--button-color-semitransparentwhite-active);
}

.white {
  background-color: var(--button-color-white-default);
}

.white:hover {
  background-color: var(--button-color-white-hover);
}

.white:active {
  background-color: var(--button-color-white-active);
}
