.border {
  composes: borderColorLightGray from "./Borders.css";
}

.borderDarkGray {
  composes: borderColorDarkGray from "./Borders.css";
}

.borderError {
  composes: borderColorRed from "./Borders.css";
}

.borderHovered {
  composes: borderColorLightGrayHovered from "./Borders.css";
}

.borderRadiusSm {
  composes: rounding1 from "./Borders.css";
}

.borderRadiusMd {
  composes: rounding2 from "./Borders.css";
}

.check {
  composes: block from "./Layout.css";
  composes: borderBox from "./Layout.css";
  composes: flex from "./Layout.css";
  composes: itemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";
  composes: sizeLg from "./Borders.css";
  composes: solid from "./Borders.css";
}

.checkFocused {
  composes: accessibilityOutlineFocus from "./Focus.css";
}

.input {
  composes: Input from "./RadioButton.css";
}

.inputEnabled {
  composes: pointer from "./Cursor.css";
}

.sizeSm {
  composes: SizeSm from "./RadioButton.css";
}

.sizeMd {
  composes: SizeMd from "./RadioButton.css";
}
