:root {
  /* primary colors */
  --g-colorRed0: #ff5247;
  --g-colorRed100: #e60023;
  --g-colorGray0: #fff;
  --g-colorGray50: #fff;
  --g-colorGray100: #efefef;
  --g-colorGray150: #ddd;
  --g-colorGray200: #767676;
  --g-colorGray300: #111;
  --g-colorGray400: #000;

  /* secondary colors */
  --g-green: #0fa573;
  --g-pine: #0a6955;
  --g-olive: #364a4c;
  --g-blue: #0074e8;
  --g-navy: #004b91;
  --g-midnight: #133a5e;
  --g-purple: #b469eb;
  --g-orchid: #8046a5;
  --g-eggplant: #5b2677;
  --g-maroon: #6e0f3c;
  --g-watermelon: #f13535;
  --g-orange: #e3780c;

  /* hover colors */
  --g-colorGray0Hovered: #f0f0f0;
  --g-colorGray100Hovered: #e2e2e2;
  --g-colorGray150Hovered: #d0d0d0;
  --g-colorGray200Hovered: #878787;
  --g-colorRed100Hovered: #ad081b;
  --g-blueHovered: #4a8ad4;

  /* active colors */
  --g-colorGray0Active: #e0e0e0;
  --g-colorGray100Active: #dadada;
  --g-colorGray200Active: #828282;
  --g-colorRed100Active: #a3081a;
  --g-blueActive: #4a85c9;

  /* transparent colors */
  --g-colorTransparentDarkGray: rgb(51 51 51 / 0.8);
  --g-colorTransparentWhite: rgb(255 255 255 / 0.8);
  --g-colorTransparentGray60: rgb(0 0 0 / 0.06);
  --g-colorTransparentGray100: rgb(0 0 0 / 0.1);
  --g-colorTransparentGray500: rgb(0 0 0 / 0.1);
  --g-colorTransparentGray800: rgb(0 0 0 / 0.8);
}

/** PRIMARY COLORS **/

/* red */

.red {
  color: var(--g-colorRed100);
}

.redBg {
  background-color: var(--g-colorRed100);
}

.red0Bg {
  background-color: var(--g-colorRed0);
}

/* white */

.white {
  color: var(--g-colorGray0);
}

.whiteBg {
  background-color: var(--g-colorGray0);
}

.whiteElevated {
  color: var(--g-colorGray50);
}

.whiteBgElevated {
  background-color: var(--g-colorGray50);
}

/* lightGray */

.lightGray {
  color: var(--g-colorGray100);
}

.lightGrayBg {
  background-color: var(--g-colorGray100);
}

.lightGrayHoveredBg {
  background-color: var(--g-colorGray100Hovered);
}

.lightGrayActiveBg {
  background-color: var(--g-colorGray100Active);
}

/* gray */

.gray {
  color: var(--g-colorGray200);
}

.grayBg {
  background-color: var(--g-colorGray200);
}

/* darkGray */

.darkGray {
  color: var(--g-colorGray300);
}

.darkGrayBg {
  background-color: var(--g-colorGray300);
}

.blackBg {
  background-color: var(--g-colorGray400);
}

/** SECONDARY COLORS **/

/* green */

.green {
  color: var(--g-green);
}

.greenBg {
  background-color: var(--g-green);
}

/* pine */

.pine {
  color: var(--g-pine);
}

.pineBg {
  background-color: var(--g-pine);
}

/* olive */

.olive {
  color: var(--g-olive);
}

.oliveBg {
  background-color: var(--g-olive);
}

/* blue */

.blue {
  color: var(--g-blue);
}

.blueBg {
  background-color: var(--g-blue);
}

/* navy */

.navy {
  color: var(--g-navy);
}

.navyBg {
  background-color: var(--g-navy);
}

/* midnight */

.midnight {
  color: var(--g-midnight);
}

.midnightBg {
  background-color: var(--g-midnight);
}

/* purple */

.purple {
  color: var(--g-purple);
}

.purpleBg {
  background-color: var(--g-purple);
}

/* orchid */

.orchid {
  color: var(--g-orchid);
}

.orchidBg {
  background-color: var(--g-orchid);
}

/* eggplant */

.eggplant {
  color: var(--g-eggplant);
}

.eggplantBg {
  background-color: var(--g-eggplant);
}

/* maroon */

.maroon {
  color: var(--g-maroon);
}

.maroonBg {
  background-color: var(--g-maroon);
}

/* watermelon */

.watermelon {
  color: var(--g-watermelon);
}

.watermelonBg {
  background-color: var(--g-watermelon);
}

/* orange */

.orange {
  color: var(--g-orange);
}

.orangeBg {
  background-color: var(--g-orange);
}

/* transparent */

.transparentBg {
  background-color: transparent;
}

.transparentDarkGray {
  color: var(--g-colorTransparentDarkGray);
}

.transparentDarkGrayBg {
  background-color: var(--g-colorTransparentDarkGray);
}

.transparentWhiteBg {
  background-color: var(--g-colorTransparentWhite);
}

/* light wash */

.lightWashBg {
  background-color: var(--g-colorGray100Hovered);
}

.darkWashBg {
  background-color: var(--g-colorGray100Active);
}
