:root {
  /* primary colors */
  --red: #e60023;
  --white: #fff;
  --lightGray: #efefef;
  --gray: #767676;
  --darkGray: #111;

  /* secondary colors */
  --green: #0fa573;
  --pine: #0a6955;
  --olive: #364a4c;
  --blue: #0074e8;
  --navy: #004b91;
  --midnight: #133a5e;
  --purple: #b469eb;
  --orchid: #8046a5;
  --eggplant: #5b2677;
  --maroon: #6e0f3c;
  --watermelon: #f13535;
  --orange: #e3780c;

  /* transparent colors */
  --transparentDarkGray: rgba(51, 51, 51, 0.8);
  --transparentWhite: rgba(255, 255, 255, 0.8);
}

/** PRIMARY COLORS **/

/* red */

.red {
  color: var(--red);
}

.redBg {
  background-color: var(--red);
}

/* white */

.white {
  color: var(--white);
}

.whiteBg {
  background-color: var(--white);
}

/* lightGray */

.lightGray {
  color: var(--lightGray);
}

.lightGrayBg {
  background-color: var(--lightGray);
}

/* gray */

.gray {
  color: var(--gray);
}

.grayBg {
  background-color: var(--gray);
}

/* darkGray */

.darkGray {
  color: var(--darkGray);
}

.darkGrayBg {
  background-color: var(--darkGray);
}

/** SECONDARY COLORS **/

/* green */

.green {
  color: var(--green);
}

.greenBg {
  background-color: var(--green);
}

/* pine */

.pine {
  color: var(--pine);
}

.pineBg {
  background-color: var(--pine);
}

/* olive */

.olive {
  color: var(--olive);
}

.oliveBg {
  background-color: var(--olive);
}

/* blue */

.blue {
  color: var(--blue);
}

.blueBg {
  background-color: var(--blue);
}

/* navy */

.navy {
  color: var(--navy);
}

.navyBg {
  background-color: var(--navy);
}

/* midnight */

.midnight {
  color: var(--midnight);
}

.midnightBg {
  background-color: var(--midnight);
}

/* purple */

.purple {
  color: var(--purple);
}

.purpleBg {
  background-color: var(--purple);
}

/* orchid */

.orchid {
  color: var(--orchid);
}

.orchidBg {
  background-color: var(--orchid);
}

/* eggplant */

.eggplant {
  color: var(--eggplant);
}

.eggplantBg {
  background-color: var(--eggplant);
}

/* maroon */

.maroon {
  color: var(--maroon);
}

.maroonBg {
  background-color: var(--maroon);
}

/* watermelon */

.watermelon {
  color: var(--watermelon);
}

.watermelonBg {
  background-color: var(--watermelon);
}

/* orange */

.orange {
  color: var(--orange);
}

.orangeBg {
  background-color: var(--orange);
}

/* transparent */

.transparentBg {
  background-color: transparent;
}

.transparentDarkGray {
  color: var(--transparentDarkGray);
}

.transparentDarkGrayBg {
  background-color: var(--transparentDarkGray);
}

.transparentWhiteBg {
  background-color: var(--transparentWhite);
}

/* light wash */

.lightWashBg {
  background-color: #e2e2e2;
}

.darkWashBg {
  background-color: #dadada;
}
