:root {
  /* primary colors */
  --g-colorGray0: #fff;
  --g-colorGray50: #fff;
  --g-colorGray100: #efefef;
  --g-colorGray200: #767676;
  --g-colorGray300: #111;
  --g-colorGray400: #000;
  --g-colorRed100Hovered: #ad081b;
  --g-colorTransparentGray60: rgb(0 0 0 / 0.06);
  --g-colorTransparentGray100: rgb(0 0 0 / 0.1);
}

/** Design Token Colors **/

.infoBase {
  background-color: var(--color-background-info-base);
}

.errorBase {
  background-color: var(--color-background-error-base);
}

.warningBase {
  background-color: var(--color-background-warning-base);
}

.successBase {
  background-color: var(--color-background-success-base);
}

.recommendationBase {
  background-color: var(--color-background-recommendation-base);
}

.selected {
  background-color: var(--color-background-selected-base);
}

.washDark {
  background-color: var(--color-background-wash-dark);
}

.washLight {
  background-color: var(--color-background-wash-light);
}

.tertiary {
  background-color: var(--color-background-tertiary-base);
}

.transparent {
  background-color: var(--color-transparent);
}

.overlay {
  background-color: var(--color-background-overlay);
}

.default {
  background-color: var(--color-background-default);
}

.secondary {
  background-color: var(--color-background-secondary-base);
}

/* semantic text colors */

.inverseText {
  color: var(--color-text-inverse);
}

.errorText {
  color: var(--color-text-error);
}

.defaultText {
  color: var(--color-text-default);
}

.subtleText {
  color: var(--color-text-subtle);
}

.warningText {
  color: var(--color-text-warning);
}

.successText {
  color: var(--color-text-success);
}

.shoppingText {
  color: var(--color-text-shopping);
}

.linkText {
  color: var(--color-text-link);
}

.lightText {
  color: var(--color-text-light);
}

.darkText {
  color: var(--color-text-dark);
}

/* semantic icon colors */

.inverseIcon {
  color: var(--color-icon-inverse);
}

.errorIcon {
  color: var(--color-icon-error);
}

.defaultIcon {
  color: var(--color-icon-default);
}

.subtleIcon {
  color: var(--color-icon-subtle);
}

.warningIcon {
  color: var(--color-icon-warning);
}

.successIcon {
  color: var(--color-icon-success);
}

.recommendationIcon {
  color: var(--color-icon-recommendation);
}

.shoppingIcon {
  color: var(--color-icon-shopping);
}

.infoIcon {
  color: var(--color-icon-info);
}

.brandPrimaryIcon {
  color: var(--color-icon-brand-primary);
}

.lightIcon {
  color: var(--color-icon-light);
}

.darkIcon {
  color: var(--color-icon-dark);
}

/* POPOVER LEGACY COLORS */

.blue {
  color: var(--color-background-education);
}

.blueBg {
  background-color: var(--color-background-education);
}

/** LEGACY CUSTOM COLORS **/

/** text **/

.lightGray {
  color: var(--g-colorGray100);
}

.whiteElevated {
  color: var(--g-colorGray50);
}

.darkGray {
  color: var(--g-colorGray300);
}

.gray {
  color: var(--g-colorGray200);
}

/** background **/

.whiteBg {
  background-color: var(--g-colorGray0);
}

.lightGrayBg {
  background-color: var(--g-colorGray100);
}

.darkGrayBg {
  background-color: var(--g-colorGray300);
}

.blackBg {
  background-color: var(--g-colorGray400);
}

.grayBg {
  background-color: var(--g-colorGray200);
}
