:root {
  /* primary colors */
  --g-colorGray0: #fff;
  --g-colorGray50: #fff;
  --g-colorGray100: #efefef;
  --g-colorGray200: #767676;
  --g-colorGray300: #111;
  --g-colorGray400: #000;

  /* hover colors */
  --g-colorGray100Hovered: #e2e2e2;
  --g-colorRed100Hovered: #ad081b;

  /* active colors */
  --g-colorGray100Active: #dadada;
  --g-colorRed100Active: #a3081a;

  /* transparent colors */
  --g-colorTransparentDarkGray: rgb(51 51 51 / 0.8);
  --g-colorTransparentGray60: rgb(0 0 0 / 0.06);
  --g-colorTransparentGray100: rgb(0 0 0 / 0.1);
}

/** Design Token Colors **/

.default {
  background-color: var(--color-background-default);
}

.infoBase {
  background-color: var(--color-background-info-base);
}

.infoStrong {
  background-color: var(--color-background-info-strong);
}

.infoWeak {
  background-color: var(--color-background-info-weak);
}

.errorBase {
  background-color: var(--color-background-error-base);
}

.errorWeak {
  background-color: var(--color-background-error-weak);
}

.warningBase {
  background-color: var(--color-background-warning-base);
}

.warningWeak {
  background-color: var(--color-background-warning-weak);
}

.successBase {
  background-color: var(--color-background-success-base);
}

.successWeak {
  background-color: var(--color-background-success-weak);
}

.recommendationBase {
  background-color: var(--color-background-recommendation-base);
}

.recommendationWeak {
  background-color: var(--color-background-recommendation-weak);
}

.shopping {
  background-color: var(--color-background-shopping);
}

.primary {
  background-color: var(--color-background-primary-base);
}

.secondary {
  background-color: var(--color-background-secondary-base);
}

.tertiary {
  background-color: var(--color-background-tertiary-base);
}

.selected {
  background-color: var(--color-background-selected-base);
}

.inverse {
  background-color: var(--color-background-inverse-base);
}

.brand {
  background-color: var(--color-background-brand);
}

.education {
  background-color: var(--color-background-education);
}

.washDark {
  background-color: var(--color-background-wash-dark);
}

.washLight {
  background-color: var(--color-background-wash-light);
}

.dark {
  background-color: var(--color-background-dark);
}

.light {
  background-color: var(--color-background-light);
}

.elevationAccent {
  background-color: var(--color-background-elevation-accent);
}

.elevationFloating {
  background-color: var(--color-background-elevation-floating);
}

.elevationRaised {
  background-color: var(--color-background-elevation-raised);
}

/* semantic text colors */

.inverseText {
  color: var(--color-text-inverse);
}

.errorText {
  color: var(--color-text-error);
}

.defaultText {
  color: var(--color-text-default);
}

.subtleText {
  color: var(--color-text-subtle);
}

.warningText {
  color: var(--color-text-warning);
}

.successText {
  color: var(--color-text-success);
}

.shoppingText {
  color: var(--color-text-shopping);
}

.linkText {
  color: var(--color-text-link);
}

.lightText {
  color: var(--color-text-light);
}

.darkText {
  color: var(--color-text-dark);
}

/* semantic icon colors */

.inverseIcon {
  color: var(--color-icon-inverse);
}

.errorIcon {
  color: var(--color-icon-error);
}

.defaultIcon {
  color: var(--color-icon-default);
}

.subtleIcon {
  color: var(--color-icon-subtle);
}

.warningIcon {
  color: var(--color-icon-warning);
}

.successIcon {
  color: var(--color-icon-success);
}

.recommendationIcon {
  color: var(--color-icon-recommendation);
}

.shoppingIcon {
  color: var(--color-icon-shopping);
}

.infoIcon {
  color: var(--color-icon-info);
}

.brandPrimaryIcon {
  color: var(--color-icon-brand-primary);
}

.lightIcon {
  color: var(--color-icon-light);
}

.darkIcon {
  color: var(--color-icon-dark);
}

/** PRIMARY COLORS **/

/* white */

.white {
  color: var(--g-colorGray0);
}

.whiteBg {
  background-color: var(--g-colorGray0);
}

.whiteElevated {
  color: var(--g-colorGray50);
}

/* lightGray */

.lightGray {
  color: var(--g-colorGray100);
}

.lightGrayBg {
  background-color: var(--g-colorGray100);
}

.lightGrayHoveredBg {
  background-color: var(--g-colorGray100Hovered);
}

.lightGrayActiveBg {
  background-color: var(--g-colorGray100Active);
}

/* gray */

.gray {
  color: var(--g-colorGray200);
}

.grayBg {
  background-color: var(--g-colorGray200);
}

/* darkGray */

.darkGray {
  color: var(--g-colorGray300);
}

.darkGrayBg {
  background-color: var(--g-colorGray300);
}

.blackBg {
  background-color: var(--g-colorGray400);
}

/* transparent */

.transparentBg {
  background-color: transparent;
}

.transparentDarkGray {
  color: var(--g-colorTransparentDarkGray);
}

.transparentDarkGrayBg {
  background-color: var(--g-colorTransparentDarkGray);
}

.overlayBg {
  background-color: var(--color-background-overlay);
}

.lightWashBg {
  background-color: var(--g-colorGray100Hovered);
}

.darkWashBg {
  background-color: var(--g-colorGray100Active);
}

/* POPOVER LEGACY COLORS */

.blue {
  color: var(--color-background-education);
}

.blueBg {
  background-color: var(--color-background-education);
}
