:root {
  /* primary colors */
  --gestalt-colorRed0: #ff5247;
  --gestalt-colorRed100: #e60023;
  --gestalt-colorGray0: #fff;
  --gestalt-colorGray50: #fff;
  --gestalt-colorGray100: #efefef;
  --gestalt-colorGray150: #ddd;
  --gestalt-colorGray200: #767676;
  --gestalt-colorGray300: #111;
  --gestalt-colorGray400: #000;

  /* secondary colors */
  --gestalt-green: #0fa573;
  --gestalt-pine: #0a6955;
  --gestalt-olive: #364a4c;
  --gestalt-blue: #0074e8;
  --gestalt-navy: #004b91;
  --gestalt-midnight: #133a5e;
  --gestalt-purple: #b469eb;
  --gestalt-orchid: #8046a5;
  --gestalt-eggplant: #5b2677;
  --gestalt-maroon: #6e0f3c;
  --gestalt-watermelon: #f13535;
  --gestalt-orange: #e3780c;

  /* hover colors */
  --gestalt-colorGray150Hovered: #d0d0d0;
  --gestalt-colorRed100Hovered: #d80021;

  /* transparent colors */
  --gestalt-colorTransparentDarkGray: rgba(51, 51, 51, 0.8);
  --gestalt-colorTransparentWhite: rgba(255, 255, 255, 0.8);
}

/** PRIMARY COLORS **/

/* red */

.red {
  color: var(--gestalt-colorRed100);
}

.redBg {
  background-color: var(--gestalt-colorRed100);
}

.red0Bg {
  background-color: var(--gestalt-colorRed0);
}

/* white */

.white {
  color: var(--gestalt-colorGray0);
}

.whiteBg {
  background-color: var(--gestalt-colorGray0);
}

.whiteElevated {
  color: var(--gestalt-colorGray50);
}

.whiteBgElevated {
  background-color: var(--gestalt-colorGray50);
}

/* lightGray */

.lightGray {
  color: var(--gestalt-colorGray100);
}

.lightGrayBg {
  background-color: var(--gestalt-colorGray100);
}

/* gray */

.gray {
  color: var(--gestalt-colorGray200);
}

.grayBg {
  background-color: var(--gestalt-colorGray200);
}

/* darkGray */

.darkGray {
  color: var(--gestalt-colorGray300);
}

.darkGrayBg {
  background-color: var(--gestalt-colorGray300);
}

.blackBg {
  background-color: var(--gestalt-colorGray400);
}

/** SECONDARY COLORS **/

/* green */

.green {
  color: var(--gestalt-green);
}

.greenBg {
  background-color: var(--gestalt-green);
}

/* pine */

.pine {
  color: var(--gestalt-pine);
}

.pineBg {
  background-color: var(--gestalt-pine);
}

/* olive */

.olive {
  color: var(--gestalt-olive);
}

.oliveBg {
  background-color: var(--gestalt-olive);
}

/* blue */

.blue {
  color: var(--gestalt-blue);
}

.blueBg {
  background-color: var(--gestalt-blue);
}

/* navy */

.navy {
  color: var(--gestalt-navy);
}

.navyBg {
  background-color: var(--gestalt-navy);
}

/* midnight */

.midnight {
  color: var(--gestalt-midnight);
}

.midnightBg {
  background-color: var(--gestalt-midnight);
}

/* purple */

.purple {
  color: var(--gestalt-purple);
}

.purpleBg {
  background-color: var(--gestalt-purple);
}

/* orchid */

.orchid {
  color: var(--gestalt-orchid);
}

.orchidBg {
  background-color: var(--gestalt-orchid);
}

/* eggplant */

.eggplant {
  color: var(--gestalt-eggplant);
}

.eggplantBg {
  background-color: var(--gestalt-eggplant);
}

/* maroon */

.maroon {
  color: var(--gestalt-maroon);
}

.maroonBg {
  background-color: var(--gestalt-maroon);
}

/* watermelon */

.watermelon {
  color: var(--gestalt-watermelon);
}

.watermelonBg {
  background-color: var(--gestalt-watermelon);
}

/* orange */

.orange {
  color: var(--gestalt-orange);
}

.orangeBg {
  background-color: var(--gestalt-orange);
}

/* transparent */

.transparentBg {
  background-color: transparent;
}

.transparentDarkGray {
  color: var(--gestalt-colorTransparentDarkGray);
}

.transparentDarkGrayBg {
  background-color: var(--gestalt-f);
}

.transparentWhiteBg {
  background-color: var(--gestalt-colorTransparentWhite);
}

/* light wash */

.lightWashBg {
  background-color: #e2e2e2;
}

.darkWashBg {
  background-color: #dadada;
}
