.container {
  composes: absolute from "./Layout.css";
}

.contents {
  composes: block from "./Layout.css";
  composes: borderBox from "./Layout.css";
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

.border {
  border: 1px solid currentColor;
}

.maxDimensions {
  max-height: 90vh;
  max-width: 90vw;
}

.minDimensions {
  min-height: 40px;
  min-width: 180px;
}

.innerContents {
  composes: flex from "./Layout.css";
  composes: overflowAuto from "./Layout.css";
  position: relative;
}

.caret {
  composes: absolute from "./Layout.css";
  fill: currentColor;
  height: 24px;
  pointer-events: none;
}
