.container {
  composes: absolute from "./Layout.css";
}

.contents {
  composes: block from "./Layout.css";
  composes: borderBox from "./Layout.css";

  /* composes: rounded from "./Borders.css"; TODO: switch back to "rounded" when that style is updated to 16px */
  border: 1px solid currentColor;
  border-radius: 16px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  outline: none;
}

.maxDimensions {
  max-height: 90vh;
  max-width: 90vw;
}

.minDimensions {
  min-height: 40px;
}

.innerContents {
  composes: flex from "./Layout.css";
  composes: overflowAuto from "./Layout.css";
  composes: rounded from "./Borders.css";
}

.caret {
  composes: absolute from "./Layout.css";
  fill: currentColor;
  height: 24px;
  pointer-events: none;
}
