.accessibilityOutline:focus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}

.accessibilityOutlineFocusWithin.accessibilityOutline:focus-within {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}

.accessibilityOutlineFocusWithin .accessibilityOutline:focus {
  box-shadow: none;
  outline: 0;
}

.accessibilityOutlineFocus {
  box-shadow: 0 0 0 4px rgba(0, 132, 255, 0.5);
  outline: 0;
}

.hideOutline:focus {
  outline: 0;
}
