.accessibilityOutline:focus {
  outline: 0 0 0 4px var(--color-border-focus);
}

.accessibilityOutlineFocusWithin.accessibilityOutline:focus-within {
  outline: 0 0 0 4px var(--color-border-focus);
}

.accessibilityOutlineFocusWithin .accessibilityOutline:focus {
  outline: 0;
}

.accessibilityOutlineFocus {
  outline: 0 0 0 4px var(--color-border-focus);
}

.hideOutline:focus {
  outline: 0;
}
