:root {
  /* primary colors */
  --gestalt-colorGray150: #ddd;

  /* hover colors */
  --gestalt-colorGray150Hovered: #d0d0d0;
  --gestalt-colorRed100Hovered: #d80021;
}

.base {
  composes: accessibilityOutline from "./Focus.css";
  appearance: none;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
}

.normal {
  composes: borderColorLightGray from "./Borders.css";
}

.normal:hover:not(:focus):not(.disabled) {
  border-color: var(--gestalt-colorGray150Hovered);
}

.errored {
  composes: borderColorRed from "./Borders.css";
  outline: none;
}

.errored:focus {
  border-color: var(--gestalt-colorGray150);
}

.errored:hover:not(:focus) {
  border-color: var(--gestalt-colorRed100Hovered);
}

.enabled {
  composes: darkGray from "./Colors.css";
  composes: whiteBg from "./Colors.css";
}

.disabled {
  composes: gray from "./Colors.css";
  composes: lightGrayBg from "./Colors.css";
  composes: borderColorLightGrayDisabled from "./Borders.css";
}
