.base {
  composes: accessibilityOutline from "./Focus.css";
  appearance: none;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
}

.normal {
  border-color: #ddd;
}

.normal:hover:not(:focus):not(.disabled) {
  border-color: #d0d0d0;
}

.errored {
  border-color: #e60023;
  outline: none;
}

.errored:focus {
  border-color: #ddd;
}

.errored:hover:not(:focus) {
  border-color: #d80021;
}

.enabled {
  composes: darkGray from "./Colors.css";
  composes: whiteBg from "./Colors.css";
}

.disabled {
  composes: gray from "./Colors.css";
  composes: lightGrayBg from "./Colors.css";
  border-color: #efefef;
}
