:root {
  --size-sm: 16px;
  --size-md: 24px;
}

.base {
  composes: accessibilityOutline from "./Focus.css";
  appearance: none;
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
}

.input {
  composes: absolute from "./Layout.css";
  composes: m0 from "./Whitespace.css";
  appearance: none;
  opacity: 0;
  outline: 0;
}

.normal {
  border-color: #efefef;
}

.normal:hover:not(:focus):not(.disabled) {
  border-color: rgba(0, 0, 0, 0.12);
}

.errored {
  border-color: #e60023;
  outline: none;
}

.errored:focus {
  border-color: #efefef;
}

.errored:hover:not(:focus) {
  border-color: #d80021;
}

.enabled {
  composes: darkGray from "./Colors.css";
  composes: whiteBg from "./Colors.css";
}

.disabled {
  composes: gray from "./Colors.css";
  composes: lightGrayBg from "./Colors.css";
}


.sizeSm {
  height: var(--size-sm);
  width: var(--size-sm);
}

.sizeMd {
  height: var(--size-md);
  width: var(--size-md);
}
