:root {
  --font-size-1: 20px;
  --font-size-2: 28px;
  --font-size-3: 36px;
}

.Heading {
  composes: antialiased sansSerif from "./Typography.css";
  margin-bottom: 0;
  margin-top: 0;
}

.fontSize1 {
  font-size: var(--font-size-1);
}

.fontSize2 {
  font-size: var(--font-size-2);
}

.fontSize3 {
  font-size: var(--font-size-3);
}
