/* Classic */

.Heading {
  composes: antialiased sansSerif fontWeightSemiBold from "./Typography.css";
  margin-bottom: var(--space-0);
  margin-top: var(--space-0);
}

.fontSize100 {
  font-size: var(--font-size-100);
}

.fontSize200 {
  font-size: var(--font-size-200);
}

.fontSize300 {
  font-size: var(--font-size-300);
}

.fontSize400 {
  font-size: var(--font-size-400);
}

.fontSize600 {
  font-size: var(--font-size-500);
}

.fontSize700 {
  font-size: var(--font-size-600);
}

/* Visual Refresh */

.HeadingVR {
  composes: antialiased from "./Typography.css";
  margin-bottom: var(--sema-space-0);
  margin-top: var(--sema-space-0);
}

.lg {
  font-family: var(--sema-font-family-heading-lg);
  font-size: var(--sema-font-size-heading-lg);
  font-weight: var(--sema-font-weight-heading-lg);
  letter-spacing: var(--sema-font-letterspacing-heading-lg);
  line-height: var(--sema-font-lineheight-heading-lg);
  text-decoration: var(--sema-font-textdecoration-heading-lg);
}

.md {
  font-family: var(--sema-font-family-heading-md);
  font-size: var(--sema-font-size-heading-md);
  font-weight: var(--sema-font-weight-heading-md);
  letter-spacing: var(--sema-font-letterspacing-heading-md);
  line-height: var(--sema-font-lineheight-heading-md);
  text-decoration: var(--sema-font-textdecoration-heading-md);
}

.sm {
  font-family: var(--sema-font-family-heading-sm);
  font-size: var(--sema-font-size-heading-sm);
  font-weight: var(--sema-font-weight-heading-sm);
  letter-spacing: var(--sema-font-letterspacing-heading-sm);
  line-height: var(--sema-font-lineheight-heading-sm);
  text-decoration: var(--sema-font-textdecoration-heading-sm);
}

.xs {
  font-family: var(--sema-font-family-heading-xs);
  font-size: var(--sema-font-size-heading-xs);
  font-weight: var(--sema-font-weight-heading-xs);
  letter-spacing: var(--sema-font-letterspacing-heading-xs);
  line-height: var(--sema-font-lineheight-heading-xs);
  text-decoration: var(--sema-font-textdecoration-heading-xs);
}

.xxs {
  font-family: var(--sema-font-family-heading-xxs);
  font-size: var(--sema-font-size-heading-xxs);
  font-weight: var(--sema-font-weight-heading-xxs);
  letter-spacing: var(--sema-font-letterspacing-heading-xxs);
  line-height: var(--sema-font-lineheight-heading-xxs);
  text-decoration: var(--sema-font-textdecoration-heading-xxs);
}

/* Shared */

/* overflow */

.breakWord {
  /* Use word-wrap internally as a result of existing usage (e.g. Instances of Text can break with word-break. E.g TileData) */
  word-wrap: break-word;
}

.breakAll {
  word-break: break-all;
}

/* alignment */

.alignCenter {
  text-align: center;
}

html:not([dir="rtl"]) .alignStart,
html[dir="rtl"] .alignEnd,
.alignForceLeft {
  text-align: left;
}

html:not([dir="rtl"]) .alignEnd,
html[dir="rtl"] .alignStart,
.alignForceRight {
  text-align: right;
}

.alignJustify {
  text-align: justify;
}

.lineClamp {
  -webkit-box-orient: vertical; /* stylelint-disable-line property-no-vendor-prefix */
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  max-width: 100%;
  overflow: hidden;
}
