.textColorOverrideLight * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-light) !important;
}

.textColorOverrideDark * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-dark) !important;
}

.focused:focus {
  outline: 2px solid var(--sema-color-border-focus-outer-default);
  outline-offset: 0;
}
