.icon {
  fill: currentColor;
  stroke-width: 0;
  vertical-align: middle;
}

.iconBlock {
  composes: block from "./Layout.css";
}

html[dir="rtl"] .rtlSupport {
  /* Flip the icon for right-to-left language locales */
  transform: rotateY(180deg);
}