.button {
  composes: block from "./Layout.css";
  composes: noBorder from "./Borders.css";
  composes: p0 from "./Whitespace.css";
  background-color: var(--color-transparent);
}

.parentButton {
  composes: noBorder from "./Borders.css";
  composes: p0 from "./Whitespace.css";
  composes: paddingX0 from "./boxWhitespace.css";
  composes: paddingY0 from "./boxWhitespace.css";
  background-color: var(--color-transparent);
}

.label {
  max-width: 16ch;
  padding-top: var(--space-200);
}

.parentButton:focus {
  outline: 0;
}

.enabled {
  composes: pointer from "./Cursor.css";
}

.disabled {
  cursor: default;
  opacity: 0.5;
}

.activeText div {
  /* Ensure the disabled color is used */
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--sema-color-pressed-text-default) !important;
}

.hoverText div {
  /* Ensure the disabled color is used */
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--sema-color-hover-text-default) !important;
}
