.button {
  composes: block from "./Layout.css";
  composes: noBorder from "./Borders.css";
  composes: p0 from "./Whitespace.css";
  background-color: var(--color-transparent);
}

.parentButton {
  composes: noBorder from "./Borders.css";
  composes: p0 from "./Whitespace.css";
  composes: paddingX0 from "./boxWhitespace.css";
  composes: paddingY0 from "./boxWhitespace.css";
  background-color: var(--color-transparent);
}

.parentButton:focus,
.button:focus {
  outline: 0;
}

.enabled {
  composes: pointer from "./Cursor.css";
}

.disabled {
  cursor: default;
  opacity: 0.5;
}
