.button {
  composes: block from "./Layout.css";
  composes: noBorder from "./Borders.css";
  composes: p0 from "./Whitespace.css";
  background-color: var(--color-transparent);
}

.parentButton {
  composes: noBorder from "./Borders.css";
  composes: p0 from "./Whitespace.css";
  composes: paddingX0 from "./boxWhitespace.css";
  composes: paddingY0 from "./boxWhitespace.css";
  background-color: var(--color-transparent);
}

.label {
  font-family: var(--sema-font-family-UI-XS, "Pin Sans");
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: var(--sema-font-letterspacing-UI-XS, 0);
  line-height: var(--sema-font-lineheight-UI-XS, 16px);
  text-align: center;
}

.parentButton:focus {
  outline: 0;
}

.enabled {
  composes: pointer from "./Cursor.css";
}

.disabled {
  cursor: default;
  opacity: 0.5;
}
