.link {
  composes: noUnderline from "./Typography.css";
  color: inherit; /* Links should have the correct underline color */
  outline: none;
}

.hoverUnderline:hover,
.hoverUnderline:focus {
  text-decoration: underline;
}

.inlineBlock {
  composes: inlineBlock from "./Layout.css";
}

.block {
  composes: block from "./Layout.css";
}

.tab {
  user-select: none;
  white-space: nowrap;
}

.tab:focus {
  position: relative;
}
