.Mask {
  composes: overflowHidden from "./Layout.css";
  composes: relative from "./Layout.css";
}

.willChangeTransform {
  /* ⬇ https://github.com/pinterest/gestalt/pull/965 */
  will-change: transform;
}

.wash {
  composes: absolute from "./Layout.css";
  composes: bottom0 from "./Layout.css";
  composes: left0 from "./Layout.css";
  composes: right0 from "./Layout.css";
  composes: top0 from "./Layout.css";
  background: rgba(0, 0, 0, 0.03);
  pointer-events: none;
}
