.container {
  composes: fixed borderBox flex justifyCenter left0 top0 xsItemsCenter from "./Layout.css";
  composes: xsCol12 from "./Column.css";
  height: 100%;
}

.mobileWrapper {
  composes: relative overflowAuto flex from "./Layout.css";
  background-color: var(--overlay-color-background);
  height: 100%;
}

.wrapper {
  composes: relative overflowAuto flex from "./Layout.css";
  composes: rounding4 from "./Borders.css";
  composes: marginStart4 marginEnd4 from "./boxWhitespace.css";
  background-color: var(--overlay-color-background);
  max-height: calc(100vh - 32px);
}

.wrapper:focus {
  outline: none;
}
