.backdrop {
  composes: absolute left0 top0 right0 bottom0 from "./Layout.css";
  composes: zoomOut from "./Cursor.css";
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  opacity: 0.9;
  overflow-y: scroll;
}

.container {
  composes: fixed borderBox flex justifyCenter left0 top0 itemsCenter from "./Layout.css";
  composes: xsCol12 from "./Column.css";
  height: 100%;
}

.wrapper {
  composes: relative overflowHidden flex from "./Layout.css";
  composes: whiteBg from "./Colors.css";
  composes: rounding8 from "./Borders.css";
  composes: marginLeft4 marginRight4 from "./boxWhitespace.css";
  max-height: calc(100vh - 32px);
}

.wrapper:focus {
  outline: none;
}

.shadowContainer {
  composes: borderBox relative fit from "./Layout.css";
  z-index: 1;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0 0 8px 0;
}
