.container {
  composes: fixed borderBox flex justifyEnd left0 top0 xsItemsCenter from "./Layout.css";
  composes: xsCol12 from "./Column.css";
  height: 100%;
}

.wrapper {
  composes: relative overflowAuto flex from "./Layout.css";
  background-color: var(--overlay-color-background);
  height: 100%;
  max-height: 100%;
}

.wrapper:focus {
  outline: none;
}
