.pog {
  composes: circle from "./Borders.css";
  composes: flex from "./Layout.css";
  composes: xsItemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";

  /* This fixes a mobile Safari bug (device only) that makes the icon disappear when rotated for RTL support
  https://stackoverflow.com/a/28617071/5253702 */
  perspective: 1px;
}

.focused {
  composes: accessibilityOutlineFocus from "./Focus.css";
}

.selected {
  composes: darkGrayBg from "./Colors.css";
}

.transparent {
  composes: transparentBg from "./Colors.css";
}

.transparentDarkGray {
  composes: transparentDarkGrayBg from "./Colors.css";
}

.transparent.hovered,
.transparent.focused,
.white.hovered,
.white.focused {
  background-color: var(--g-colorTransparentGray60);
}

.transparent.active,
.white.active {
  background-color: var(--g-colorTransparentGray100);
}

.transparentDarkGray.hovered,
.transparentDarkGray.focused,
.transparentDarkGray.active {
  background-color: var(--g-colorGray300);
}

.white {
  composes: transparentWhiteBg from "./Colors.css";
}

.white.hovered,
.white.focused {
  background-color: var(--g-colorGray0Hovered);
}

.white.active {
  background-color: var(--g-colorGray0Active);
}

.lightGray {
  composes: lightGrayBg from "./Colors.css";
}

.lightGray.hovered,
.lightGray.focused {
  background-color: var(--g-colorGray100Hovered);
}

.lightGray.active {
  background-color: var(--g-colorGray100Active);
}

.gray {
  composes: grayBg from "./Colors.css";
}

.gray.hovered,
.gray.focused {
  background-color: var(--g-colorGray200Hovered);
}

.gray.active {
  background-color: var(--g-colorGray200Active);
}

.darkGray {
  composes: darkGrayBg from "./Colors.css";
}

.red {
  composes: redBg from "./Colors.css";
}

.red.hovered,
.red.focused {
  background-color: var(--g-colorRed100Hovered);
}

.red.active {
  background-color: var(--g-colorRed100Active);
}
