:root {
  --gestalt-colorGray300: #111;
  --gestalt-colorTransparentGray60: 'rgba(0, 0, 0, 0.06)';
  --gestalt-colorTransparentGray100: 'rgba(0, 0, 0, 0.1)';
}

.pog {
  composes: circle from "./Borders.css";
  composes: flex from "./Layout.css";
  composes: itemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";
}

.focused {
  composes: accessibilityOutlineFocus from "./Focus.css";
}

.selected {
  composes: darkGrayBg from "./Colors.css";
}

.transparent {
  composes: transparentBg from "./Colors.css";
}

.transparentDarkGray {
  composes: transparentDarkGrayBg from "./Colors.css";
}

.transparent.hovered,
.transparent.focused,
.white.hovered,
.white.focused {
  background-color: var(--gestalt-colorTransparentGray60);
}

.transparent.active,
.white.active {
  background-color: var(--gestalt-colorTransparentGray100);
}

.transparentDarkGray.hovered,
.transparentDarkGray.focused {
  background-color: var(--gestalt-colorGray300);
}

.transparentDarkGray.active {
  background-color: var(--gestalt-colorGray300);
}

.white {
  composes: transparentWhiteBg from "./Colors.css";
}

.white.hovered,
.white.focused {
  background-color: #f0f0f0;
}

.white.active {
  background-color: #e0e0e0;
}

.lightGray {
  composes: lightGrayBg from "./Colors.css";
}

.lightGray.hovered,
.lightGray.focused {
  background-color: #e2e2e2;
}

.lightGray.active {
  background-color: #dadada;
}

.gray {
  composes: grayBg from "./Colors.css";
}

.gray.hovered,
.gray.focused {
  background-color: #878787;
}

.gray.active {
  background-color: #828282;
}

.darkGray {
  composes: darkGrayBg from "./Colors.css";
}

.red {
  composes: redBg from "./Colors.css";
}

.red.hovered,
.red.focused {
  background-color: #ad081b;
}

.red.active {
  background-color: #a3081a;
}
