.pog {
  composes: circle from "./Borders.css";
  composes: flex from "./Layout.css";
  composes: xsItemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";

  /* This fixes a mobile Safari bug (device only) that makes the icon disappear when rotated for RTL support
  https://stackoverflow.com/a/28617071/5253702 */
  perspective: 1px;
}

/* TOKENIZED */

/* STATES */

.selected {
  background-color: var(--color-background-button-selected-default);
}

.focused {
  composes: accessibilityOutlineFocus from "./Focus.css";
}

/* COLORS */

.red {
  background-color: var(--color-background-button-primary-default);
}

.red.hovered,
.red.focused {
  background-color: var(--color-background-button-primary-hover);
}

.red.active {
  background-color: var(--color-background-button-primary-active);
}

.lightGray {
  background-color: var(--color-background-button-secondary-default);
}

.lightGray.hovered,
.lightGray.focused {
  background-color: var(--color-background-button-secondary-hover);
}

.lightGray.active {
  background-color: var(--color-background-button-secondary-active);
}

.transparent {
  background-color: var(--color-background-button-tertiary-default);
}

.transparent.hovered,
.transparent.focused {
  background-color: var(--color-background-button-tertiary-hover);
}

.transparent.active {
  background-color: var(--color-background-button-tertiary-active);
}

.white {
  background-color: var(--color-background-button-white-default);
}

.white.hovered,
.white.focused {
  background-color: var(--color-background-button-white-hover);
}

.white.active {
  background-color: var(--color-background-button-white-active);
}

.transparentDarkGray {
  background-color: var(--color-background-button-semitransparentdark-default);
}

.transparentDarkGray.hovered,
.transparentDarkGray.focused {
  background-color: var(--color-background-button-semitransparentdark-hover);
}

.transparentDarkGray.active {
  background-color: var(--color-background-button-semitransparentdark-active);
}

.gray {
  background-color: var(--color-background-button-gray-default);
}

.gray.hovered,
.gray.focused {
  background-color: var(--color-background-button-gray-hover);
}

.gray.active {
  background-color: var(--color-background-button-gray-active);
}
