:root {
  --border-sm: 6px;
  --border-md: 8px;
  --size-sm: 16px;
  --size-md: 24px;
}

.RadioButton {
  composes: block from "./Layout.css";
  composes: borderBox from "./Layout.css";
  composes: circle from "./Borders.css";
  composes: flex from "./Layout.css";
  composes: itemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";
  composes: relative from "./Layout.css";
  composes: solid from "./Borders.css";
}

.RadioButtonIsFocused {
  composes: accessibilityOutlineFocus from "./Focus.css";
}

.Border {
  composes: borderColorLightGray from "./Borders.css";
}

.BorderCheckedSm {
  border-width: var(--border-sm);
}

.BorderCheckedMd {
  border-width: var(--border-md);
}

.BorderDarkGray {
  composes: borderColorDarkGray from "./Borders.css";
}

.BorderHovered {
  composes: borderColorLightGrayHovered from "./Borders.css";
}

.BorderUnchecked {
  composes: sizeLg from "./Borders.css";
}

.BgDisabled {
  composes: lightGrayBg from "./Colors.css";
}

.BgEnabled {
  composes: whiteBg from "./Colors.css";
}

.Input {
  composes: absolute from "./Layout.css";
  composes: m0 from "./Whitespace.css";
  appearance: none;
  opacity: 0;
  outline: 0;
}

.InputEnabled {
  composes: pointer from "./Cursor.css";
}

.SizeSm {
  height: var(--size-sm);
  width: var(--size-sm);
}

.SizeMd {
  height: var(--size-md);
  width: var(--size-md);
}
