:root {
  --border-sm: 6px;
  --border-md: 8px;
  --size-sm: 16px;
  --size-md: 24px;
}

.RadioButton {
  composes: block from "./Layout.css";
  composes: borderBox from "./Layout.css";
  composes: circle from "./Borders.css";
  composes: flex from "./Layout.css";
  composes: itemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";
  composes: relative from "./Layout.css";
  composes: solid from "./Borders.css";
}

.RadioButtonIsFocused {
  composes: accessibilityOutlineFocus from "./Focus.css";
}

.Border {
  composes: borderColorLightGray from "./Borders.css";
}

.BorderCheckedSm {
  border-width: var(--border-sm);
}

.BorderCheckedMd {
  border-width: var(--border-md);
}

.BorderDarkGray {
  composes: borderColorDarkGray from "./Borders.css";
}

.BorderDisabled {
  composes: noBorder from "./Borders.css";
}

.BorderDisabledChecked {
  composes: borderColorLightGrayDisabled from "./Borders.css";
}

.BorderHovered {
  composes: borderColorLightGrayHovered from "./Borders.css";
}

.BorderUnchecked {
  composes: sizeLg from "./Borders.css";
}

.BgDisabled {
  composes: lightGrayBg from "./Colors.css";
}

.BgEnabled {
  composes: whiteBg from "./Colors.css";
}

.InputEnabled {
  composes: pointer from "./Cursor.css";
}
