:root {
  --g-border-sm: 6px;
  --g-border-md: 8px;
}

.RadioButton {
  composes: block from "./Layout.css";
  composes: borderBox from "./Layout.css";
  composes: circle from "./Borders.css";
  composes: flex from "./Layout.css";
  composes: xsItemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";
  composes: relative from "./Layout.css";
  composes: solid from "./Borders.css";
}

.Border {
  composes: borderColorDarkGray from "./Borders.css";
}

.BorderCheckedSm {
  border-width: var(--g-border-sm);
}

.BorderCheckedMd {
  border-width: var(--g-border-md);
}

.BorderSelected {
  composes: borderColorSelected from "./Borders.css";
}

.BorderDisabled {
  composes: noBorder from "./Borders.css";
}

.BorderDisabledChecked {
  composes: borderColorLightGrayDisabled from "./Borders.css";
}

.BorderHovered {
  composes: borderColorLightGrayHovered from "./Borders.css";
}

.BorderUnchecked {
  composes: sizeLg from "./Borders.css";
}

.BgDisabled {
  background-color: var(--color-background-formfield-disabled);
}

.BgEnabled {
  background-color: var(--color-background-formfield-primary);
}

.InputEnabled {
  composes: pointer from "./Cursor.css";
}
