.input {
  composes: accessibilityOutline from "./Focus.css";
  composes: border pill sizeLg from "./Borders.css";
  composes: borderBox from "./Layout.css";
  composes: darkGray from "./Colors.css";
  composes: whiteBg from "./Colors.css";
  composes: Text fontSize3 from "./Text.css";
  composes: xsCol12 from "./Column.css";
  appearance: none;
  min-width: 180px;
  padding: 8px 40px;
}

.input::-webkit-search-decoration,
.input::-webkit-search-cancel-button,
.input::-webkit-search-results-button,
.input::-webkit-search-results-decoration {
  appearance: none;
}

.input:focus {
  background-color: var(--g-colorGray0);
  cursor: text;
}

.input::-ms-clear {
  display: none;
}

.input::placeholder {
  color: var(--g-colorGray200);
}

html:not([dir="rtl"]) .inputActive {
  padding: 8px 32px 8px 16px;
}

html[dir="rtl"] .inputActive {
  padding: 8px 16px 8px 32px;
}

.inputHovered {
  composes: borderColorLightGrayHovered from "./Borders.css";
  composes: pointer from "./Cursor.css";
}

.clear {
  composes: marginEnd2 from "./boxWhitespace.css";
  composes: noBorder pill from "./Borders.css";
  composes: paddingX1 from "./boxWhitespace.css";
  composes: paddingY1 from "./boxWhitespace.css";
  composes: pointer from "./Cursor.css";
  composes: transparentBg from "./Colors.css";
  composes: accessibilityOutline from "./Focus.css";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.clear:hover {
  background-color: var(--g-colorGray100);
  border-radius: 50%;
}

html:not([dir="rtl"]) .clear {
  right: 0;
}

html[dir="rtl"] .clear {
  left: 0;
}

