.select {
  composes: Text from "./Text.css";
  composes: fontSize300 from "./Typography.css";
  composes: pointer from "./Cursor.css";
  composes: relative from "./Layout.css";
  composes: xsCol12 from "./Column.css";
  color: var(--color-text-formfield-primary);
  padding: 0 35px 0 16px; /* right padding prevents it from running into arrow */
}

.select::-ms-expand {
  display: none;
}
