.container {
  composes: fixed borderBox flex justifyCenter left0 top0 from "./Layout.css";
  composes: xsCol12 from "./Column.css";
  height: 100%;
}

.fullPageContainer {
  composes: xsItemsCenter from "./Layout.css";
}

.partialPageContainer {
  composes: xsItemsEnd from "./Layout.css";
}

.fullPageWrapper {
  composes: relative overflowAuto flex from "./Layout.css";
  background-color: var(--color-background-overlay-background);
  height: 100%;
  max-height: 100%;
}

.wrapper {
  composes: relative overflowAuto flex from "./Layout.css";
  background-color: var(--color-background-overlay-background);
  border-radius: 32px 32px 0 0;
}

.defaultWrapper {
  height: 50%;
}

.autoWrapper {
  max-height: 90%;
  min-height: 30%;
}
