@keyframes slide-in-ltr {
  from {
    transform: translateX(100%);
  }
  
  to {
    transform: translateX(0%);
  }
}

@keyframes slide-in-rtl {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slide-out-ltr {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@keyframes slide-out-rtl {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(-100%);
  }
}

.container {
  composes: fixed borderBox flex justifyEnd left0 top0 itemsCenter from "./Layout.css";
  composes: xsCol12 from "./Column.css";
  height: 100%;
}

.wrapper {
  composes: relative overflowAuto flex from "./Layout.css";
  composes: whiteBgElevated from "./Colors.css";
  height: 100%;
  max-height: 100%;
}

.wrapper:focus {
  outline: none;
}

.wrapperAnimationIn {
  animation: slide-in-ltr 400ms ease-in-out;
}

html[dir="rtl"] .wrapperAnimationIn {
  animation: slide-in-rtl 400ms ease-in-out;
}

.wrapperAnimationOut {
  animation: slide-out-ltr 400ms ease-in-out;
}

html[dir="rtl"] .wrapperAnimationOut {
  animation: slide-out-rtl 400ms ease-in-out;
}

.shadowContainer {
  composes: borderBox relative fit from "./Layout.css";
}

.shadow {
  composes: shadow from "./Borders.css";
}
