.ulItem {
  list-style: none;
  padding: 0;
}

.liItem {
  margin-bottom: 0;
  margin-top: 0;
}

.borderExpandableSelected {
  border: 1px solid var(--color-black-cosmicore-900);
}

.fullHeight {
  height: 100%;
  overflow: scroll;
}
