.table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}

.th {
  composes: alignLeft from "./Typography.css";
  composes: paddingY3 from "./boxWhitespace.css";
  composes: paddingX3 from "./boxWhitespace.css";
}

.td {
  composes: paddingY3 from "./boxWhitespace.css";
  composes: paddingX3 from "./boxWhitespace.css";
}

.sticky tr th {
  background-color: var(--g-colorGray0);
  position: sticky;
  top: 0;
  z-index: 1;
}

.thead tr:last-child th {
  border-bottom: 1px solid var(--g-colorGray150);
}

.tbody tr:not(:last-child) td {
  border-bottom: 1px solid var(--g-colorGray150);
}

.hoverShadeGray:hover {
  background-color: var(--g-colorGray100);
}
