.Tabs {
  composes: flex from "./Layout.css";
  user-select: none;
}

.tab {
  composes: accessibilityOutline from "./Focus.css";
  composes: borderBox from "./Layout.css";
  composes: flex flexColumn itemsCenter justifyCenter minWidth60 from "./Layout.css";
  composes: noBorder pill from "./Borders.css";
  composes: m0 from "./Whitespace.css";
  composes: pointer from "./Cursor.css";
  composes: paddingX4 paddingY2 from "./boxWhitespace.css";
  text-decoration: none;
}

.tab:focus {
  position: relative;
}

.tabIsNotActive {
  composes: whiteBg from "./Colors.css";
}

.tabIsNotActive:focus,
.tabIsNotActive:hover {
  background-color: #f1f1f1;
  color: #111;
}

.tabIsNotActive:active {
  background-color: #e8e8e8;
}

.tabIsActive {
  composes: darkGrayBg white from "./Colors.css";
}
