.button {
  composes: noBorder from "./Borders.css";
  composes: paddingX2 from "./boxWhitespace.css";
  composes: paddingY3 from "./boxWhitespace.css";
  composes: pointer from "./Cursor.css";
}

html[dir="rtl"] .button {
  border-radius: 8px 0 0 8px;
}

html:not([dir="rtl"]) .button {
  border-radius: 0 8px 8px 0;
}

.lightGray {
  composes: lightGrayBg from "./Colors.css";
}

.button.lightGray:hover,
.button.lightGray:focus {
  background-color: var(--g-colorGray100Hovered);
}

.button.lightGray:active {
  background-color: var(--g-colorGray100Active);
}

.red {
  composes: redBg from "./Colors.css";
}

.red:hover,
.red:focus {
  background-color: var(--g-colorRed100Hovered);
}

.red:active {
  background-color: var(--g-colorRed100Active);
}
