.button {
  composes: noBorder from "./Borders.css";
  composes: pointer from "./Cursor.css";

  /*
  Since the button is on an already transparent bg, it appears darker. This adjusts the background color to be a tad brighter since it's layered on top.
  */
  backdrop-filter: brightness(1.1);
  height: 100%;
  outline: none;
  position: absolute;
}

.button.sm {
  width: 20px;
}

.button.md {
  width: 24px;
}

.button.lg {
  width: 32px;
}

html[dir="rtl"] .button {
  left: 0;
  right: unset;
  top: 0;
}

html[dir="rtl"] .button.sm {
  border-radius: var(--rounding-100) 0 0 var(--rounding-100);
}

html[dir="rtl"] .button.md {
  border-radius: var(--rounding-200) 0 0 var(--rounding-200);
}

html[dir="rtl"] .button.lg {
  border-radius: var(--rounding-300) 0 0 var(--rounding-300);
}

html:not([dir="rtl"]) .button {
  left: unset;
  right: 0;
  top: 0;
}

html:not([dir="rtl"]) .button.sm {
  border-radius: 0 var(--rounding-100) var(--rounding-100) 0;
}

html:not([dir="rtl"]) .button.md {
  border-radius: 0 var(--rounding-200) var(--rounding-200) 0;
}

html:not([dir="rtl"]) .button.lg {
  border-radius: 0 var(--rounding-300) var(--rounding-300) 0;
}

.secondary {
  composes: secondary from "./Colors.css";
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--g-colorGray100Hovered);
}

.button.secondary:active {
  background-color: var(--g-colorGray100Active);
}

.errorBase {
  composes: errorBase from "./Colors.css";
}

.errorBase:hover,
.errorBase:focus {
  background-color: var(--g-colorRed100Hovered);
}

.errorBase:active {
  background-color: var(--g-colorRed100Active);
}

.warningBase {
  composes: warningBase from "./Colors.css";
}

.warningBase:active {
  background-color: var(--g-colorYellow100Active);
}
