.button {
  composes: noBorder from "./Borders.css";
  composes: pointer from "./Cursor.css";

  /*
  Since the button is on an already transparent bg, it appears darker. This adjusts the background color to be a tad brighter since it's layered on top.
  */
  backdrop-filter: brightness(1.1);
  height: 100%;
  outline: none;
  position: absolute;
}

html[dir="rtl"] .button {
  border-radius: var(--rounding-200) 0 0 var(--rounding-200);
  left: 0;
  right: unset;
  top: 0;
}

html:not([dir="rtl"]) .button {
  border-radius: 0 var(--rounding-200) var(--rounding-200) 0;
  left: unset;
  right: 0;
  top: 0;
}

.secondary {
  composes: secondary from "./Colors.css";
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--g-colorGray100Hovered);
}

.button.secondary:active {
  background-color: var(--g-colorGray100Active);
}

.errorBase {
  composes: errorBase from "./Colors.css";
}

.errorBase:hover,
.errorBase:focus {
  background-color: var(--g-colorRed100Hovered);
}

.errorBase:active {
  background-color: var(--g-colorRed100Active);
}

.warningBase {
  composes: warningBase from "./Colors.css";
}

.warningBase:hover,
.warningBase:focus {
  background-color: var(--g-colorYellow100Hovered);
}

.warningBase:active {
  background-color: var(--g-colorYellow100Active);
}
