.tagOuterContainer {
  composes: fullWidth from "./Layout.css";
  composes: fullHeight from "./Layout.css";
  box-sizing: border-box;
}

.tagContainer {
  composes: fullWidth from "./Layout.css";
  composes: fullHeight from "./Layout.css";
  composes: flex from "./Layout.css";
  gap: 2px;
}

.tagWrapper {
  composes: flex from "./Layout.css";
  composes: xsItemsCenter from "./Layout.css";
  composes: solid from "./Borders.css";
  composes: transparentBorder from "./Borders.css";
  composes: fullWidth from "./Layout.css";
  composes: fullHeight from "./Layout.css";
}

.tagWrapperDismiss {
  border-radius: 8px 0 0 8px;
  border-width: var(--g-border-width-lg) 0px var(--g-border-width-lg)
    var(--g-border-width-lg);
}

.tagWrapperRounded {
  border-radius: 8px;
  border-width: var(--g-border-width-lg);
}

.hovered {
  composes: pointer from "./Cursor.css";
  composes: secondary from "./Colors.css";
  composes: borderColorLightGray from "./Borders.css";
}

.disabled {
  composes: lightGrayBg from "./Colors.css";
  cursor: default;
  pointer-events: none;
}

.dismissButton {
  composes: pointer from "./Cursor.css";
  border-radius: 0px 8px 8px 0px;
  border-width: var(--g-border-width-lg) var(--g-border-width-lg)
    var(--g-border-width-lg) 0px;
  composes: fullHeight from "./Layout.css";
  composes: flex from "./Layout.css";
  composes: paddingX2 from "./boxWhitespace.css";
  composes: paddingY2 from "./boxWhitespace.css";
  composes: xsItemsCenter from "./Layout.css";
  composes: justifyCenter from "./Layout.css";
  composes: transparentBorder from "./Borders.css";
  composes: solid from "./Borders.css";
  composes: borderBox from "./Layout.css";
}

.dismissHovered {
  composes: borderColorLightGray from "./Borders.css";
}

.dismissButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: brightness(0.9);
}
