.tagLarge {
  padding-bottom: 14px;
  padding-top: 14px;
}

.tagMedium {
  composes: paddingY3 from "./boxWhitespace.css";
}

.tagSmall {
  composes: paddingY2 from "./boxWhitespace.css";
}

html[dir="rtl"] .tagWrapperDismiss {
  border-radius: 0 8px 8px 0;
  border-width: var(--g-border-width-lg) var(--g-border-width-lg)
    var(--g-border-width-lg) 0;
}

html:not([dir="rtl"]) .tagWrapperDismiss {
  border-radius: 8px 0 0 8px;
  border-width: var(--g-border-width-lg) 0 var(--g-border-width-lg)
    var(--g-border-width-lg);
}

.tagWrapperRounded {
  composes: rounding2 from "./Borders.css";
  border-width: var(--g-border-width-lg);
}

.hovered {
  composes: pointer from "./Cursor.css";
  composes: secondary from "./Colors.css";
  composes: borderColorLightGray from "./Borders.css";
}

.disabled {
  composes: lightGrayBg from "./Colors.css";
  cursor: default;
  pointer-events: none;
}

.dismissButton {
  position: absolute;
  outline: none;
  height: 100%;
  width: 24px;
  /*
  Since the button is on an already transparent, it appears darker. This adjusts the background color to be a tad brighter since it's layered on top.
  */
  backdrop-filter: brightness(1.1);
}

html[dir="rtl"] .dismissButtonPosition {
  top: 0;
  left: 0;
  right: unset;
}

html:not([dir="rtl"]) .dismissButtonPosition {
  top: 0;
  right: 0;
  left: unset;
}

html[dir="rtl"] .dismissButtonRounding {
  border-radius: 8px 0 0 8px;
  border-width: var(--g-border-width-lg) 0 var(--g-border-width-lg)
    var(--g-border-width-lg);
}

html:not([dir="rtl"]) .dismissButtonRounding {
  border-radius: 0 8px 8px 0;
  border-width: var(--g-border-width-lg) var(--g-border-width-lg)
    var(--g-border-width-lg) 0;
}

.dismissHovered {
  composes: borderColorLightGray from "./Borders.css";
  composes: pointer from "./Cursor.css";
}

.dismissButton:hover {
  backdrop-filter: brightness(0.9);
  background-color: rgb(0 0 0 / 0.1);
}
