.tagWrapperDismiss {
  border-radius: 8px 0 0 8px;
  border-width: var(--g-border-width-lg) 0px var(--g-border-width-lg)
    var(--g-border-width-lg);
}

.tagWrapperRounded {
  border-width: var(--g-border-width-lg);
}

.tagWrapper {
  box-sizing: border-box;
  border-radius: 8px;
  composes: flex from "./Layout.css";
  composes: xsItemsCenter from "./Layout.css";
  composes: secondary from "./Colors.css";
  composes: solid from "./Borders.css";
  composes: transparentBorder from "./Borders.css";
  composes: fullWidth from "./Layout.css";
  composes: fullHeight from "./Layout.css";
}

.tagOuterContainer {
  composes: fullWidth from "./Layout.css";
  composes: fullHeight from "./Layout.css";
}

.hovered {
  composes: pointer from "./Cursor.css";
  composes: secondary from "./Colors.css";
  composes: borderColorLightGray from "./Borders.css";
}

.focused {
  composes: accessibilityOutlineFocus from "./Focus.css";
}

.transparent {
  composes: transparentBg from "./Colors.css";
}

.selected {
  composes: secondary from "./Colors.css";
}

.disabled {
  composes: lightGrayBg from "./Colors.css";
  composes: transparentBorder from "./Borders.css";
  cursor: default;
  pointer-events: none;
}

.dismissButton {
  composes: fullHeight from "./Layout.css";
  composes: transparentBg from "./Colors.css";
  composes: noBorder from "./Borders.css";
  composes: pointer from "./Cursor.css";
  border-radius: 0 8px 8px 0;
}

.dismissButton:focus {
  border-radius: 0 8px 8px 0;
}

.dismissButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
