.textArea {
  composes: borderBox from "./Layout.css";
  composes: Text fontSize3 from "./Text.css";
  composes: leadingTall from "./Typography.css";
  composes: xsCol12 from "./Column.css";
  padding: 8px 16px;
  resize: none;
}

.textArea::placeholder {
  color: #666;
}
