.Text {
  composes: antialiased sansSerif from "./Typography.css";
}

.inverse {
  color: var(--color-text-inverse);
}

.error {
  color: var(--color-text-error);
}

/* Used for error messaging in Toast */

.textColorOverrideError * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-light) !important;
  /* stylelint-disable-next-line declaration-no-important */
  font-weight: var(--font-weight-semibold) !important;
}

.default {
  color: var(--color-text-default);
}

.disabled {
  color: var(--color-text-disabled);
}

.subtle {
  color: var(--color-text-subtle);
}

.warning {
  color: var(--color-text-warning);
}

.recommendation {
  color: var(--color-icon-recommendation);
}

.success {
  color: var(--color-text-success);
}

.shopping {
  color: var(--color-text-shopping);
}

.link {
  color: var(--color-text-link);
}

.light {
  color: var(--color-text-light);
}

.textColorOverrideLight * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-light) !important;
}

.dark {
  color: var(--color-text-dark);
}

.textColorOverrideDark * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-dark) !important;
}
