:root {
  --gray: #767676;
}

.textField {
  composes: borderBox from "./Layout.css";
  composes: Text fontSize3 from "./Text.css";
  composes: xsCol12 from "./Column.css";
  padding: 8px 16px;
}

.textField::placeholder {
  color: var(--gray);
}
