.Text {
  composes: antialiased sansSerif from "./Typography.css";
}

/* Link management */

.inheritColor {
  color: inherit; /* Links should have the correct underline color */
}

.noOutline {
  outline: none;
}

.hoverNoUnderline:hover,
.hoverNoUnderline:focus {
  text-decoration: none;
}

.hoverUnderline:hover,
.hoverUnderline:focus {
  text-decoration: underline;
}

.link {
  color: var(--color-text-link);
}

/* Decoration */

.underline {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

/* Color */

.dark {
  color: var(--color-text-dark);
}

.textColorOverrideDark * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-dark) !important;
}

.default {
  color: var(--color-text-default);
}

.disabled {
  color: var(--color-text-disabled);
}

.inverse {
  color: var(--color-text-inverse);
}

.error {
  color: var(--color-text-error);
}

/* Used for error messaging in Toast */

.textColorOverrideError * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-light) !important;
  /* stylelint-disable-next-line declaration-no-important */
  font-weight: var(--font-weight-semibold) !important;
}

.subtle {
  color: var(--color-text-subtle);
}

.warning {
  color: var(--color-text-warning);
}

.recommendation {
  color: var(--color-icon-recommendation);
}

.success {
  color: var(--color-text-success);
}

.shopping {
  color: var(--color-text-shopping);
}

.light {
  color: var(--color-text-light);
}

.textColorOverrideLight * {
  /* stylelint-disable-next-line declaration-no-important */
  color: var(--color-text-light) !important;
}
