.baseTile {
  composes: flex from "./Layout.css";
  composes: paddingX4 from "./boxWhitespace.css";
  composes: paddingY4 from "./boxWhitespace.css";
  composes: rounding4 from "./Borders.css";
  composes: borderBox from "./Layout.css";
  composes: sizeLg from "./Borders.css";
  composes: solid from "./Borders.css";
  composes: transparentBorder from "./Borders.css";
  box-sizing: border-box;
  width: min-content;
}

.tileWidth {
  max-width: 196px;
}

@media (--g-sm) {
  .tileWidth {
    max-width: none;
  }
}

.hovered {
  composes: pointer from "./Cursor.css";
  composes: secondary from "./Colors.css";
}

.focused {
  composes: accessibilityOutlineFocus from "./Focus.css";
}

.transparent {
  composes: transparentBg from "./Colors.css";
}

.selected {
  composes: secondary from "./Colors.css";
}

.disabled {
  composes: lightGrayBg from "./Colors.css";
  composes: transparentBorder from "./Borders.css";
  cursor: default;
  pointer-events: none;
}
