/* aliasing */

.antialiased {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

/* fonts */

.sansSerif {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto Oxygen-Sans,
    Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”, "Helvetica Neue", Helvetica,
    "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

:lang(ja) .sansSerif {
  font-family: "SF Pro JP", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto Oxygen-Sans, Ubuntu, Cantarell, “Fira Sans”, “Droid Sans”,
    "Helvetica Neue", Helvetica, "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  quotes: "「" "」";
}

/* kerning */

.letterSpacing {
  letter-spacing: -0.4px;
}

/* leading */

.leadingShort {
  line-height: 1.2;
}

.leadingTall {
  line-height: 1.5;
}

/* font weight */

.fontWeightNormal {
  font-weight: normal;
}

.fontWeightBold {
  font-weight: 700;
}

/* emphasis */

.fontStyleRegular {
  font-style: normal;
}

.fontStyleItalic {
  font-style: italic;
}

/* decorations */

.underline {
  text-decoration: underline;
}

.noUnderline {
  text-decoration: none;
}

/* overflow */

.breakWord {
  hyphens: auto;
  word-wrap: break-word;
}

.truncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* alignment */

html:not([dir="rtl"]) .alignLeft {
  text-align: left;
}

html[dir="rtl"] .alignLeft {
  text-align: right;
}

html:not([dir="rtl"]) .alignRight {
  text-align: right;
}

html[dir="rtl"] .alignRight {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.textJustify {
  text-align: justify;
}
