html:not([dir="rtl"]) .borderRight {
  border-right: var(--g-border-width) solid var(--color-border-container);
}

html[dir="rtl"] .borderRight {
  border-left: var(--g-border-width) solid var(--color-border-container);
}

.dateFieldSection {
  background-color: transparent;
  border-bottom: var(--g-border-width) solid var(--color-border-container);
  border-radius: inherit;
  padding: var(--space-300);
  position: relative;
}

.dateFieldSectionActive {
  background-color: var(--color-gray-roboflow-100);
}

.dateFieldSectionLeftBorder {
  background-color: var(--color-black-cosmicore-900);
  border-radius: 10px;
  height: 60%;
  left: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 3px;
}

/* secondary range styles  */

:global ._gestalt .react-datepicker__day--in-range-secondary {
  background-color: var(--color-background-datepicker-range-default);
  font-weight: bold;
}

:global ._gestalt ._gestalt_daterange .react-datepicker__day--range-start {
  background-color: var(--color-background-datepicker-button-selected-default);
  border-radius: var(--rounding-datepicker-days);
  color: var(--color-text-inverse);
  position: relative;
}

:global ._gestalt ._gestalt_daterange .react-datepicker__day--range-end {
  background-color: var(--color-background-datepicker-button-selected-default);
  border-radius: var(--rounding-datepicker-days);
  color: var(--color-text-inverse);
  position: relative;
}
