:global .MuiDialog-root {
  display: none;
}

.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.label {
  cursor: pointer;
  display: block;
}

.formLabel {
  padding-bottom: var(--space-200);
}

.formErrorMessage * {
  font-family: var(--font-family-default-latin);
  /* stylelint-disable-next-line declaration-no-important */
  font-size: var(--font-size-100) !important;
}

.textField {
  box-sizing: border-box;
  font-size: var(--font-size-300);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: var(--space-200) var(--space-400);
  width: calc(12 / var(--g-ncols) * 100%);
}

:lang(ja) .textField {
  font-family: var(--font-family-default-japanese);
  quotes: "「" "」";
}

.textField::placeholder {
  color: var(--g-colorGray200);
}

.formElementBase {
  appearance: none;
  border-color: var(--color-border-container);
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
}

.formElementBase:focus {
  box-shadow: 0 0 0 4px rgb(0 132 255 / 0.5);
  outline: 0;
}

.formElementNormal {
  border-color: var(--color-border-container);
}

.formElementNormal:hover:not(:focus):not(.disabled) {
  border-color: var(--color-gray-roboflow-400);
}

.formElementErrored {
  border-color: var(--color-border-error);
  outline: none;
}

.formElementErrored:focus {
  border-color: var(--color-border-container);
}

.formElementErrored:hover:not(:focus) {
  border-color: var(--g-colorRed100Hovered);
}

.formElementEnabled {
  background-color: var(--g-colorGray0);
  color: var(--g-colorGray300);
}

.formElementDisabled {
  background-color: var(--g-colorGray100);
  border-color: var(--g-colorGray100);
  color: var(--g-colorGray200);
}

.typographyTruncate {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.layoutMedium {
  min-height: 40px;
}

.layoutLarge {
  min-height: 48px;
}

.actionButtonWrapper {
  bottom: var(--space-0);
  position: absolute;
  top: var(--space-0);
}

html:not([dir="rtl"]) .actionButtonWrapper {
  right: var(--space-0);
}

html[dir="rtl"] .actionButtonWrapper {
  left: var(--space-0);
}

html:not([dir="rtl"]) .actionButton {
  padding-right: var(--space-800);
}

html[dir="rtl"] .actionButton {
  padding-left: var(--space-800);
}
