:root {
  /* transparent colors */
  --g-color-focus: rgb(0 132 255 / 0.5);

  /* border & dimensions */
  --g-borderRadius-circle: 50%;
  --g-borderRadius-halfCircle-End: 0 50% 50% 0;
  --g-borderRadius-halfCircle-Start: 50% 0 0 50%;
  --g-day-dimensions: 40px;
  --g-focus: 0 0 0 4px var(--g-color-focus);
}

.react-datepicker {
  background-color: var(--g-colorGray50);
  border-radius: 16px;
  box-shadow: 0 0 8px var(--g-colorTransparentGray100);
  color: var(--g-colorGray300);
  display: inline-block;
  font-family: var(--font-family-default-latin);
  padding: var(--space-300);
  position: relative;
}

.react-datepicker-inline {
  background-color: var(--g-colorGray50);
  border-radius: 16px;
  color: var(--g-colorGray300);
  display: inline-block;
  font-family: var(--font-family-default-latin);
  padding: var(--space-300);
  position: relative;
}

:global ._gestalt .react-datepicker__current-month {
  color: var(--g-colorGray300);
  font-size: var(--font-size-400);
  font-weight: var(--font-weight-bold);
  margin-bottom: var(--space-300);
}

/* It must be named different than .react-datepicker__day
to prevent conflict with another CSS module */

.react-datepicker__days {
  border-radius: var(--g-borderRadius-circle);
  color: var(--g-colorGray300);
  cursor: pointer;
  display: inline-block;
  line-height: var(--g-day-dimensions);
  text-align: center;
  width: var(--g-day-dimensions);
}

.react-datepicker__days:focus {
  box-shadow: var(--g-focus);
  outline: none;
}

.react-datepicker__days:hover {
  background-color: var(--g-colorTransparentGray60);
  color: var(--g-colorGray300);
}

:global ._gestalt .react-datepicker__day--highlighted {
  background-color: var(--g-colorGray300);
  color: var(--g-colorGray50);
}

:global ._gestalt .react-datepicker__day--disabled {
  color: var(--g-colorGray200);
  cursor: default;
}

:global ._gestalt .react-datepicker__day--disabled:hover {
  background-color: var(--g-colorGray50);
  color: var(--g-colorGray200);
}

:global ._gestalt .react-datepicker__day--disabled:focus {
  box-shadow: none;
}

:global ._gestalt .react-datepicker__day--selected {
  background-color: var(--g-colorGray300);
  color: var(--g-colorGray50);
}

:global ._gestalt .react-datepicker__day--selected:hover {
  background-color: var(--g-colorTransparentGray60);
  color: var(--g-colorGray300);
}

:global ._gestalt .react-datepicker__day--in-range {
  background-color: var(--g-colorTransparentGray60);
  border-radius: 0;
  color: var(--g-colorGray300);
}

:global ._gestalt .react-datepicker__day--in-range:hover {
  background: var(--g-colorTransparentGray60);
  border-radius: var(--g-borderRadius-circle);
  position: relative;
}

:global ._gestalt .react-datepicker__day--in-range:first-child {
  border-bottom-left-radius: var(--g-borderRadius-circle);
  border-top-left-radius: var(--g-borderRadius-circle);
}

:global ._gestalt .react-datepicker__day--in-range:last-child {
  border-bottom-right-radius: var(--g-borderRadius-circle);
  border-top-right-radius: var(--g-borderRadius-circle);
}

:global
  ._gestalt
  .react-datepicker__day--in-range:not(
    .react-datepicker__day--selected
  ):hover::before {
  background: var(--g-colorTransparentGray60);
  border-radius: 0;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  /* z-index required to position pseudo-elements behind parent */
  z-index: -1;
}

:global ._gestalt .react-datepicker__day--in-range:first-child:hover::before {
  border-bottom-left-radius: var(--g-borderRadius-circle);
  border-top-left-radius: var(--g-borderRadius-circle);
}

:global ._gestalt .react-datepicker__day--in-range:last-child:hover::before {
  border-bottom-right-radius: var(--g-borderRadius-circle);
  border-top-right-radius: var(--g-borderRadius-circle);
}

:global ._gestalt .react-datepicker__day--range-start {
  background-color: var(--g-colorGray400);
  border-radius: var(--g-borderRadius-circle);
  color: var(--g-colorGray50);
  position: relative;
}

:global
  ._gestalt
  .react-datepicker__day--range-start:not(:last-child):not(
    .react-datepicker__day--range-end
  )::before {
  background: var(--g-colorTransparentGray60);
  border-radius: var(--g-borderRadius-halfCircle-Start);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  /* z-index required to position pseudo-elements behind parent */
  z-index: -1;
}

:global ._gestalt .react-datepicker__day--range-start:hover {
  background-color: inherit;
  border-radius: var(--g-borderRadius-circle);
  color: var(--g-colorGray300);
  position: relative;
}

:global ._gestalt .react-datepicker__day--range-start:hover::after {
  background: var(--g-colorTransparentGray60);
  border-radius: var(--g-borderRadius-circle);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  /* z-index required to position pseudo-elements behind parent */
  z-index: -1;
}

:global ._gestalt .react-datepicker__day--range-end {
  background-color: var(--g-colorGray400);
  border-radius: var(--g-borderRadius-circle);
  color: var(--g-colorGray50);
  position: relative;
}

:global
  ._gestalt
  .react-datepicker__day--range-end:not(:first-child):not(
    .react-datepicker__day--range-start
  )::before {
  background: var(--g-colorTransparentGray60);
  border-radius: var(--g-borderRadius-halfCircle-End);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  /* z-index required to position pseudo-elements behind parent */
  z-index: -1;
}

:global ._gestalt .react-datepicker__day--range-end:hover {
  background-color: inherit;
  border-radius: var(--g-borderRadius-circle);
  color: var(--g-colorGray300);
  position: relative;
}

:global ._gestalt .react-datepicker__day--range-end:hover::after {
  background: var(--g-colorTransparentGray60);
  border-radius: var(--g-borderRadius-circle);
  color: var(--g-colorGray300);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;

  /* z-index required to position pseudo-elements behind parent */
  z-index: -1;
}

:global
  ._gestalt
  .react-datepicker__day--selecting-range-start:not(
    .react-datepicker__day--in-range
  ):not(.react-datepicker__day--highlighted),
:global
  ._gestalt
  .react-datepicker__day--selecting-range-end:not(
    .react-datepicker__day--in-range
  ):not(.react-datepicker__day--highlighted) {
  background-color: var(--g-colorTransparentGray60);
}

:global ._gestalt .react-datepicker__day--outside-month {
  visibility: hidden;
}

:global ._gestalt .react-datepicker__day-name {
  color: var(--g-colorGray200);
  display: inline-block;
  font-size: var(--font-size-300);
  line-height: var(--g-day-dimensions);
  margin: 0;
  text-align: center;
  width: var(--g-day-dimensions);
}

:global ._gestalt .react-datepicker__day-names {
  display: flex;
  white-space: nowrap;
}

:global ._gestalt .react-datepicker__header {
  position: relative;
  text-align: center;
}

:global ._gestalt .react-datepicker__input-container {
  display: block;
  position: relative;
  width: 100%;
}

:global ._gestalt .react-datepicker__input-container input {
  padding-right: 38px;
}

:global ._gestalt .react-datepicker__month {
  color: var(--g-colorGray50);
  text-align: center;
}

:global ._gestalt .react-datepicker__week {
  display: flex;
  position: relative;
  white-space: nowrap;

  /* z-index required to position pseudo-elements behind parent */
  z-index: 1;
}

:global ._gestalt .react-datepicker__month-container {
  float: left;
  font-size: var(--font-size-300);
  font-weight: var(--font-weight-normal);
}

:global
  ._gestalt
  ._gestalt_daterange
  .react-datepicker__month-container:last-child {
  margin-left: 37px;
}

:global ._gestalt .react-datepicker__navigation {
  background: none;
  border: none;
  border-radius: var(--g-borderRadius-circle);
  cursor: pointer;
  height: auto;
  outline: none;
  overflow: visible;
  padding: 8px;
  position: absolute;
  top: 14px;
  width: auto;
  z-index: 1;
}

:global ._gestalt .react-datepicker__navigation:hover,
:global ._gestalt .react-datepicker__navigation:focus {
  background: var(--g-colorTransparentGray60);
}

:global ._gestalt .react-datepicker__navigation:active::before {
  background: var(--g-colorTransparentGray60);
  border-radius: var(--g-borderRadius-circle);
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

html[dir="rtl"] :global ._gestalt .react-datepicker__navigation--previous {
  right: 8px;
}

html:not([dir="rtl"])
  :global
  ._gestalt
  .react-datepicker__navigation--previous {
  left: 8px;
}

html[dir="rtl"] :global ._gestalt .react-datepicker__navigation--next {
  left: 8px;
}

html:not([dir="rtl"]) :global ._gestalt .react-datepicker__navigation--next {
  right: 8px;
}

:global ._gestalt .react-datepicker__navigation--previous--disabled,
:global ._gestalt .react-datepicker__navigation--previous--disabled:hover {
  cursor: default;
}

:global ._gestalt .react-datepicker__navigation--next--disabled,
:global ._gestalt .react-datepicker__navigation--next--disabled:hover {
  cursor: default;
}

:global ._gestalt .react-datepicker__navigation:focus {
  box-shadow: var(--g-focus);
}

.react-datepicker-popper {
  z-index: 1;
}

/* Year / Month dropdown  */

:global ._gestalt .react-datepicker__month-select,
:global ._gestalt .react-datepicker__year-select {
  background-color: var(--g-colorGray0);
  border-color: var(--color-border-container);
  border-radius: 16px;
  border-style: solid;
  border-width: 2px;
  color: var(--color-text-subtle);
  cursor: pointer;
  font-family: var(--font-family-default-latin);
  font-size: var(--font-size-200);
  height: 40px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 5px 16px; /* horizontal padding prevents it from running into arrow */
  position: relative;
  width: 100%;
}

:global ._gestalt .react-datepicker__month-select:focus,
:global ._gestalt .react-datepicker__year-select:focus {
  box-shadow: 0 0 0 4px rgb(0 132 255 / 0.5);
  outline: 0;
}

:global ._gestalt .react-datepicker__year-dropdown-container--select,
:global ._gestalt .react-datepicker__month-dropdown-container--select,
:global ._gestalt .react-datepicker__month-year-dropdown-container--select,
:global ._gestalt .react-datepicker__year-dropdown-container--scroll,
:global ._gestalt .react-datepicker__month-dropdown-container--scroll,
:global ._gestalt .react-datepicker__month-year-dropdown-container--scroll {
  display: inline-block;
  margin: 0 10px;
}

/* Override the textfield container since gestalt has block not inline block */

:global ._gestalt .reactDatepickerWrapper {
  display: block;
}

.calendarIcon {
  position: absolute;
}

html[dir="rtl"] .calendarIcon {
  left: 0;
}

html:not([dir="rtl"]) .calendarIcon {
  right: 0;
}

.disabled {
  cursor: default;
  opacity: 0.5;
}
