.Backdrop {
  composes: absolute left0 top0 right0 bottom0 from '../Layout.css';
  composes: zoomOut from '../Cursor.css';
  composes: darkGrayBg from '../Colors.css';
  height: 100%;
  opacity: 0.9;
  overflow-y: scroll;
}

.container {
  height: 100%;
}

.wrapper {
  max-height: 90%;
  outline: none;
}
