.Markdown pre {
  background-color: rgba(236, 236, 236, 0.5);
  overflow: auto;
  padding: 5px;
}

.Markdown code {
  background-color: var(--g-colorGray100);
  color: var(--g-colorGray300);
  padding: 2px 4px;
  font-size: var(--g-text-font-size-2);
  font-family: SFMono-Medium, "SF Mono", "Segoe UI Mono", "Roboto Mono", "Ubuntu Mono", Menlo, Consolas, Courier, monospace;
}

.Markdown p {
  background-color: var(--g-colorGray0);
  margin: 0;
  line-height: 1.5;
}

.Markdown p + p {
  margin-top: 24px;
}

.Markdown ul {
  padding-inline-start: 20px;
}

.Markdown ul + pre {
  margin-left: 40px;
}

html[dir="rtl"] .Markdown ul + pre {
  margin-right: 40px;
}

.Markdown li {
  margin-bottom: 10px;
  margin-top: 10px;
}

.Markdown a {
  color: var(--g-colorGray300);
}

.Markdown a:hover {
  text-decoration: none;
}

.Markdown h2 {
  align-items: baseline;
  display: flex;
  scroll-margin-top: 75px;
}

.Markdown h3 {
  color: var(--g-colorGray200);
}

.Markdown .anchor {
  height: 14px;
  width: 14px;
}

.Markdown .header-link {
  background-image: url('data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" fill="grey" height="14" width="14" viewBox="0 0 24 24" role="img"><path d="M21.001 7.241l-4.053 4.052-1.06-1.06.672-.672a1.5 1.5 0 10-2.121-2.121l-.671.672-1.061-1.06L16.759 3l4.242 4.241zm-9.708 9.708l-4.052 4.052-4.242-4.241 4.053-4.053 1.059 1.06-.671.672a1.5 1.5 0 002.121 2.121l.671-.672 1.061 1.061zM14.639.879l-4.053 4.052a3 3 0 000 4.242l1.061 1.06-1.415 1.414-1.06-1.061a3 3 0 00-4.241 0L.879 14.638a2.998 2.998 0 000 4.242l4.241 4.242a3 3 0 004.241 0l4.053-4.052a3 3 0 000-4.242l-1.06-1.061 1.414-1.413 1.06 1.06a3 3 0 004.241 0l4.052-4.052a2.998 2.998 0 000-4.242L18.88.879a2.997 2.997 0 00-4.241 0z"></path></svg>');
  background-size: cover;
  display: block;
  height: 14px;
  margin-left: 4px;
  width: 14px;
}
