.input {
  border-radius: var(--sema-rounding-md);
  box-sizing: border-box;
  display: block;
  font-weight: var(--sema-font-weight-body);
  line-height: 16px;
  width: 100%;
}

.input:focus {
  border: 1px solid var(--sema-color-border-focus-inner-default);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}

.enabled {
  background: var(--sema-color-background-default);
  border: 1px solid var(--sema-color-border-interactive);
}

.disabled {
  background-color: var(--sema-color-background-disabled);
  border: 1px solid var(--sema-color-border-disabled);
}

.disabledText {
  color: var(--sema-color-text-disabled);
}

.parentTextField {
  display: inline-flex;
}

.parentLabel {
  position: relative;
}

.visuallyHidden {
  position: relative;
}

.label {
  font-size: var(--sema-font-size-ui-xs);
  font-weight: var(--sema-font-weight-ui);
  line-height: var(--sema-font-lineheight-UI-XS);
  padding: 0;
  position: absolute;
  z-index: 1;
}

/* sm */

.sm_input {
  font-size: var(--sema-font-size-ui-sm);
  padding-bottom: var(--sema-space-gap-vertical-sm);
}

.sm_visibleLabel {
  min-height: 36px;
  padding-top: calc(var(--sema-space-gap-vertical-sm) + 16px);
}

.sm_noLabel {
  min-height: 36px;
  padding-top: var(--sema-space-gap-vertical-sm);
}

html[dir="rtl"] .sm_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-sm);
  padding-right: var(--sema-space-padding-horizontal-lg);
}

html:not([dir="rtl"]) .sm_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-lg);
  padding-right: var(--sema-space-padding-horizontal-sm);
}

html[dir="rtl"] .sm_label {
  right: calc(var(--sema-space-padding-horizontal-lg) + 1px);
}

html:not([dir="rtl"]) .sm_label {
  left: calc(var(--sema-space-padding-horizontal-lg) + 1px);
}

.sm_labelPos {
  top: var(--sema-space-gap-vertical-sm);
}

/* md */

.md_input {
  font-size: var(--sema-font-size-ui-md);
  padding-bottom: var(--sema-space-gap-vertical-lg);
}

.md_visibleLabel {
  min-height: 36px;
  padding-top: calc(var(--sema-space-padding-horizontal-xl) + 16px);
}

.md_noLabel {
  min-height: 36px;
  padding-top: var(--sema-space-gap-vertical-lg);
}

html[dir="rtl"] .md_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-lg);
  padding-right: var(--sema-space-padding-horizontal-xl);
}

html:not([dir="rtl"]) .md_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-xl);
  padding-right: var(--sema-space-padding-horizontal-lg);
}

html[dir="rtl"] .md_label {
  right: calc(var(--sema-space-padding-horizontal-xl) + 1px);
}

html:not([dir="rtl"]) .md_label {
  left: calc(var(--sema-space-padding-horizontal-xl) + 1px);
}

.md_labelPos {
  top: var(--sema-space-gap-vertical-lg);
}

/* lg */

.lg_input {
  font-size: var(--sema-font-size-ui-md);
  padding-bottom: var(--sema-space-gap-vertical-xl);
}

.lg_visibleLabel {
  min-height: 36px;
  padding-top: calc(var(--sema-space-gap-vertical-xxl) + 16px);
}

.lg_noLabel {
  min-height: 36px;
  padding-top: var(--sema-space-gap-vertical-xxl);
}

html[dir="rtl"] .lg_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-xl);
  padding-right: var(--sema-space-padding-horizontal-xxl);
}

html:not([dir="rtl"]) .lg_inputHorizontalPadding {
  padding-left: var(--sema-space-padding-horizontal-xxl);
  padding-right: var(--sema-space-padding-horizontal-xl);
}

html[dir="rtl"] .lg_label {
  right: calc(var(--sema-space-padding-horizontal-xxl) + 1px);
}

html:not([dir="rtl"]) .lg_label {
  left: calc(var(--sema-space-padding-horizontal-xxl) + 1px);
}

.lg_labelPos {
  top: var(--sema-space-gap-vertical-xl);
}
