<!doctype html>
<html lang="en">
  <body>
    <meta charset="utf-8" />
    <title>Gestalt - Tests</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:8080/dist/css/bundle.css">
    <style type="text/css">
      body {
        margin: 0;
        padding: 0;
      }
    </style>
    <script>
        window.COMPONENT_PROPS = <%- renderProps %>
        window.COMPONENT_NAME = '<%- componentName %>'
    </script>
    <script defer src="http://localhost:8080/bundle.js"></script>
    <div id="react-main-mount"><%- serverHtml %></div>
    <style type="text/css">
      <% if (styles) { %>
        <%- styles %>
      <% } %>
    </style>
  </body>
</html>
