:global ._gestalt .recharts-text {
  color: var(--g-colorGray300);
  font-family: var(--font-family-default-latin);
  font-size: var(--font-size-300);
}

:global ._gestalt .recharts-legend-item-text {
  color: var(--g-colorGray300);
  font-family: var(--font-family-default-latin);
  font-size: var(--font-size-300);
}
