.select {
  composes: accessibilityOutline from "../Focus.css";
  composes: Text fontSize3 from "../Text/Text.css";
  composes: darkGray from "../Colors.css";
  composes: pointer from "../Cursor.css";
  composes: relative medium from "../Layout.css";
  composes: transparentBg from "../Colors.css";
  composes: xsCol12 from "../Column.css";
  appearance: none;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  padding: 0 35px 0 14px; /* right padding prevents it from running into arrow */
}

.select::-ms-expand {
  display: none;
}

.normal {
  border-color: #b5b5b5;
}

.errored {
  border-color: #e3780c;
}

.enabled {
  composes: darkGray from "../Colors.css";
  composes: whiteBg from "../Colors.css";
}

.disabled {
  composes: gray from "../Colors.css";
  composes: lightGrayBg from "../Colors.css";
}
