.input {
  composes: md mdDefault from "../Text.css";
  appearance: none;
  background-color: var(--base-color-transparent);
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
}

.placeholderText {
  color: var(--sema-color-text-subtle);
}

.enabledText {
  color: var(--sema-color-text-default);
}

.disabledText {
  color: var(--sema-color-text-disabled);
}

.enabled {
  background: var(--sema-color-background-default);
}

.disabled {
  background-color: var(--sema-color-background-disabled);
}

.enabledBorder {
  border: 1px solid var(--sema-color-border-interactive);
}

.errorBorder {
  border: 1.5px solid var(--sema-color-border-error);
}

.enabledBorder:focus,
.errorBorder:focus {
  border: 1px solid var(--sema-color-border-focus-inner-default);
  outline: 2px solid var(--sema-color-border-focus-outer-default);
}

.enabledBorder:not(:focus):hover {
  border: 1px solid var(--sema-color-hover-border-interactive);
}

.errorBorder:not(:focus):hover {
  border: 1.5px solid var(--sema-color-hover-border-error);
}

.disabledBorder {
  border: 1px solid var(--sema-color-border-disabled);
}

.inputParent {
  border-radius: var(--sema-rounding-300);
  isolation: isolate;
  position: relative;
}

.visuallyHidden {
  position: relative;
}

.label {
  padding: var(--sema-space-0);
  position: absolute;
  z-index: 1;
}

.iconEnd {
  bottom: var(--sema-space-0);
  position: absolute;
  top: var(--sema-space-0);
}

/* md */

.md_input {
  border-radius: var(--sema-rounding-300);
  min-height: 36px;
  padding-bottom: var(--sema-space-200);
}

.md_label {
  top: calc(var(--sema-space-200) + var(--sema-space-50));
}

.md_inputLabelPadding {
  padding-top: calc(
    var(--sema-space-200) + var(--sema-space-50) +
      var(--sema-font-lineheight-ui-xs)
  );
}

.md_inputNoLabelPadding {
  padding-top: var(--sema-space-200);
}

html[dir="rtl"] .md_inputPadding {
  padding-left: var(--sema-space-900);
  padding-right: var(--sema-space-300);
}

html:not([dir="rtl"]) .md_inputPadding {
  padding-left: var(--sema-space-300);
  padding-right: var(--sema-space-900);
}

html:not([dir="rtl"]) .md_labelPadding {
  padding-left: var(--sema-space-300);
  padding-right: var(--sema-space-900);
}

html[dir="rtl"] .md_labelPadding {
  padding-left: var(--sema-space-900);
  padding-right: var(--sema-space-300);
}

html:not([dir="rtl"]) .md_iconEnd {
  right: var(--sema-space-300);
}

html[dir="rtl"] .md_iconEnd {
  left: var(--sema-space-300);
}

/* lg */

.lg_input {
  border-radius: var(--sema-rounding-400);
  min-height: 48px;
  padding-bottom: var(--sema-space-300);
}

.lg_label {
  top: calc(var(--sema-space-300) + var(--sema-space-100));
}

.lg_inputLabelPadding {
  padding-top: calc(
    var(--sema-space-300) + var(--sema-space-100) + var(--sema-space-100) +
      var(--sema-font-lineheight-ui-xs)
  );
}

.lg_inputNoLabelPadding {
  padding-top: var(--sema-space-300);
}

html[dir="rtl"] .lg_inputPadding {
  padding-left: var(--sema-space-1000);
  padding-right: var(--sema-space-400);
}

html:not([dir="rtl"]) .lg_inputPadding {
  padding-left: var(--sema-space-400);
  padding-right: var(--sema-space-1000);
}

html:not([dir="rtl"]) .lg_labelPadding {
  padding-left: var(--sema-space-400);
  padding-right: var(--sema-space-1000);
}

html[dir="rtl"] .lg_labelPadding {
  padding-left: var(--sema-space-1000);
  padding-right: var(--sema-space-400);
}

html:not([dir="rtl"]) .lg_iconEnd {
  right: var(--sema-space-400);
}

html[dir="rtl"] .lg_iconEnd {
  left: var(--sema-space-400);
}
