{
  "presets": ["next/babel"],
  "plugins": [
    "@babel/transform-flow-strip-types",
    "styled-jsx/babel",
    [
      "inline-react-svg",
      {
        "svgo": {
          "plugins": [
            {
              "name": "cleanupIDs",
              "active": false
            }
          ]
        }
      }
    ]
  ]
}
