name: Semver
# https://semver.org/

on:
  pull_request:
    types:
      - opened
      - labeled
      - unlabeled
      - synchronize
      - opened
      - edited
jobs:
  requireLabel:
    name: Require Label
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'docs-update') == false
    steps:
      - uses: zwaldowski/match-label-action@v2
        with:
          allowed: major release, minor release, patch release
